{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}


{% block content %}
    <section class="slider--show-hp">
        <div class="slider--video">
            <div class="owl-carousel" id="slider--video">
            {{ content.field_slider }}
            </div>
        </div>
    </section>
{% endblock %}


<style>
.video--hp{
    position: relative;
}
.video--hp iframe{
  position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    pointer-events: none;
}
</style>
 

