{#
/**
* @file
* Default theme implementation to display a block.
*
* Available variables:
* - plugin_id: The ID of the block implementation.
* - label: The configured label of the block if visible.
* - configuration: A list of the block's configuration values.
* - label: The configured label for the block.
* - label_display: The display settings for the label.
* - provider: The module or other provider that provided this block plugin.
* - Block plugin specific settings will also be stored here.
* - in_preview: Whether the plugin is being rendered in preview mode.
* - content: The content of this block.
* - attributes: array of HTML attributes populated by modules, intended to
* be added to the main container tag of this template.
* - id: A valid HTML ID and guaranteed unique.
* - title_attributes: Same as attributes, except applied to the main title
* tag that appears in the template.
* - title_prefix: Additional output populated by modules, intended to be
* displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
* displayed after the main title tag that appears in the template.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

{% set url_video = content['#block_content'].field_video|file_uri %}


<section class="qui-sommes--nous">
    <div class="container">
        <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
            <div class="col-lg-6">
                <div class="info-sommes-nous">
                    <div class="title--fornet title--sommes-nous">
                        <h3>{{ content.field_titre }}</h3>
                    </div>
                    <div class="paragraph--fornet paragraph--sommes-nous">
                        <p>{{ content.body }}</p>
                    </div>
                </div>
                <div class="counter--box">
                    <div class="three-boox">
                        {{ content.field_chiffres_cles }}
                    </div>
                </div>
                <div class="btn--sommes-nous">
                    <a href="{{ path('entity.node.canonical', {'node' : 96 }) }}"
                        class="btn--fornet aos-init aos-animate" data-aos="fade-left" data-aos-offset="50"
                        data-aos-duration="500">{{ 'Découvrir l\'agence'| t }}</a>
                </div>
            </div>


            <div class="col-lg-6 all--right-nous">
                <div class="cover--img-sommes">
                    <img src="{{ file_url(content.field_image_couverture_video['#items'].entity.uri.value)  }}"
                        alt="img video">
                    <div class="playe--icon">
                        <img src="{{ base_path ~ directory }}/assets/img/Groupe 55790.png" alt="img play">
                    </div>
                </div>
            </div>
        </div>

        <div id="presPopup" class="video-popup">
            <div class="popup-bg"></div>
            <div class="popup-content">
                <div class="popup-photo-header">
                    <button class="popup-photo-close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="body-content-popup">

                    <iframe
                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href={{ convert_to_embed_url(url_video) }} ><img src=https://i.ytimg.com/vi/EN1SJT76JoY/maxresdefault.jpg alt='NDepend Dependency Matrix'><span>▶</span></a>"
                        loading="lazy" width="560" height="315" data-src="{{ convert_to_embed_url(url_video) }}" src=""
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        enablejsapi="1" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</section>