
.filter-wp {
	form {
		display: flex;
		padding: 40px 0 40px;
		.filter-champs {
			margin-right: 25px;
		}
	}
	select {
		background: #F6F6F6;
		border: 0 solid;
		border-radius: 0;
		padding: 10px 30px;
		width: auto;
		font-size: 17px;
		color: $color_13;
		outline: none;
		font-weight: 700;
		appearance: none;
		height: 45px;
		background-image: url(../img/arrow--filter.png);
		background-repeat: no-repeat;
		background-position: right 16px center;
	}
}
.filter-champs {
	input {
		background: #F6F6F6;
		border: 0 solid;
		border-radius: 0;
		padding: 10px 30px;
		width: auto;
		font-size: 17px;
		color: $color_13;
		outline: none;
		font-weight: 700;
		appearance: none;
		height: 45px;
	}
}
.filter-champs.submit-filter {
	input {
		background-color: $color_3;
		color: $color_1;
	}
}
#list--sc--blog {
	.box--blog {
		width: 32.10%;
		margin-bottom: 20px;
	}
	.info--sc--blog {
		margin-top: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.box--blog {
			&:nth-child(even) {
				margin-top: 0;
			}
		}
	}
}
.paginations-list {
	.pagination-success {
		display: flex;
		justify-content: center;
		padding-bottom: 25px;
	}
	li {
		margin: 0 10px;
		a {
			color: $color_14;
			height: 45px;
			width: 45px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.next-page {
		a {
			background: #0B0F29;
			color: $color_1;
		}
	}
	.prev-page {
		a {
			background: #0B0F29;
			color: $color_1;
		}
	}
	.active {
		a {
			color: $color_15;
			background: #EF6700;
			color: $color_1;
		}
	}
}
.hover-blog {
	p {
		width: 100%;
	}
}
@media (max-width: 991px) {
	#list--sc--blog {
		.box--blog {
			width: 48%;
		}
	}
}
@media (max-width: 767px) {
	.paginations-list {
		.pagination-success {
			justify-content: center;
			flex-wrap: wrap;
			gap: 10px;
		}
	}
	.filter-wp {
		form {
			flex-direction: column;
			gap: 20px;
			.filter-champs {
				margin-right: 0;
			}
		}
	}
	#list--sc--blog {
		.box--blog {
			width: 100%;
		}
	}
	.filter-champs {
		select {
			width: 100%;
		}
		input {
			width: 100%;
		}
	}
}
