
.social-Share {
	padding-top: 20px;
	ul {
		display: flex;
	}
	li {
		height: 36px;
		margin-right: 17px;
		width: 36px;
		background: #0B0F29;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0;
		a {
			color: $color_1;
		}
		&:hover {
			background: #EF6700;
			transition: all .3s ease-in-out;
			background: #EF6700;
			color: $color_13;
		}
	}
}
.img--box--article {
	height: 138px;
}
.box--article {
	padding-bottom: 15px;
	padding-top: 15px;
	display: flex;
	align-items: center;
	gap: 10px;
	border-bottom: 1px solid #E7EAEE;
	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
	&:first-child {
		padding-top: 0;
		border-bottom: 0;
	}
}
.list--article {
	border: 1px solid #E7EAEE;
	padding: 30px 20px 30px 20px;
	.title--article {
		margin-bottom: 0;
	}
}
.title--article {
	h3 {
		font-size: 20px;
		color: $color_16;
	}
	margin-bottom: 30px;
}
.info---box--article {
	span {
		font-size: 14px;
		color: $color_4;
	}
	h3 {
		font-size: 16px;
		color: $color_4;
	}
	// padding-left: 10px;
}
.tags--categorie {
	cursor: pointer;
	transition: all .3s ease-in-out;
	color: $color_3;
	font-size: 13px;
	padding: 5px 17px;
	display: flex;
	width: max-content;
	background-color: $color_18;
	&:hover {
		background-color: $color_7;
		color: $color_1;
	}
}
.related--tags {
	margin-top: 30px;
	border: 1px solid #E7EAEE;
	padding: 30px 20px 30px 20px;
}
.tags--wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	.active {
		color: $color_1;
		background-color: $color_3;
	}
}
.content--element-detail {
	.tags--categorie {
		background-color: $color_3;
		color: $color_1;
		margin: 30px 0 35px 0;
	}
	>span {
		font-size: 14px;
		color: $color_4;
		padding-bottom: 25px;
		display: block;
	}
	p {
		font-size: 18px;
		color: $color_5;
		line-height: 30px;
	}
	padding: 30px 0 20px 0;
}
.title--partage {
	h4 {
		font-size: 30px;
		color: $color_17;
	}
}
.share-detail {
	padding-top: 27px;
	border-top: 1px solid #000F26;
	width: 40%;
}
section.detail--sc-blog {
	padding: 40px 0 40px 0;
}
span.icon-font--date {
	padding-right: 5px;
}
.img--blogDetail {
	img {
		width: 100%;
		height: 100%;
	}
}
.cl-global--blogDetail {
	section.nos-expertises {
		background-color: $background-color_5;
		padding: 30px 0 30px 0;
	}
}
.bradcrumb--title {
	ul {
		justify-content: center;
		text-align: center;
	}
}
@media (max-width: 991px) {
	.share-detail {
		width: 100%;
	}
	.tags--wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-between;
	}
	.info---box--article {
		h3 {
			padding: 10px 0;
		}
	}
}
@media (max-width: 767px) {
	.box--article {
		flex-direction: column;
		text-align: center;
	}
	.tags--categorie {
		display: block;
		margin: auto;
	}
	.title--article {
		text-align: center;
	}
	.related--tags {
		.tags--categorie {
			width: 100%;
			text-align: center;
		}
	}
	.showcase-titre-h1 {
		font-size: 30px;
	}
}
