{% set slash = is_front ? '' : '/' %}

<section class="nous--contacter">
    <div class="text-center">
        <div class="title--fornet title--sommes-nous">
            <h3>{{ 'Nous contacter' | t }}</h3>
        </div>
    </div>
    <div class="container">
        <div class="all-info--contacter">
            <div class="info--wrapper--contacter aos-init aos-animate" data-aos="slide-up" data-aos-duration="1200">
                <div class="icon--contacter">
                    <img src="{{ slash  ~ base_path ~ directory }}/assets/img/Forma-1.png" alt="img contacter 1">
                </div>
                <div class="paragraph--contacter">
                    <h4>{{ 'Téléphone'| t }}</h4>
                    <h5><a href="tel:{{ telephone }}">{{ telephone }}</a></h5>
                </div>
            </div>
            <div class="info--wrapper--contacter aos-init aos-animate" data-aos="slide-up" data-aos-duration="1200">
                <div class="icon--contacter">
                    <img src="{{ slash  ~ base_path ~ directory }}/assets/img/Forma-2.png" alt="img contacter 2">
                </div>
                <div class="paragraph--contacter">
                    <h4>{{ 'Adresse'| t }}</h4>
                    <h5>{{ adresse }}</h5>
                </div>
            </div>
            <div class="info--wrapper--contacter aos-init aos-animate" data-aos="slide-up" data-aos-duration="1200">
                <div class="icon--contacter">
                    <img src="{{ slash  ~ base_path ~ directory }}/assets/img/Forma-3.png" alt="img contacter 3">
                </div>
                <div class="paragraph--contacter">
                    <h4>{{ 'Email'| t }} </h4>
                    <h5><a href="mailto:{{ email }}">{{ email}}</a></h5>
                </div>
            </div>
        </div>

        {{ drupal_entity('webform', 'contact') }}

    </div>
</section>