{#
/**
* @file
* Default theme implementation to display a single page.
*
* The doctype, html, head and body tags are not in this template. Instead they
* can be found in the html.html.twig template in this directory.
*
* Available variables:
*
* General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be
* "/" unless you have installed Drupal in a sub-directory.
* - is_front: A flag indicating if the current page is the front page.
* - logged_in: A flag indicating if the user is registered and signed in.
* - is_admin: A flag indicating if the user has permission to access
* administration pages.
*
* Site identity:
* - front_page: The URL of the front page. Use this instead of base_path when
* linking to the front page. This includes the language domain or prefix.
*
* Page content (in order of occurrence in the default page.html.twig):
* - messages: Status and error messages. Should be displayed prominently.
* - node: Fully loaded node, if there is an automatically-loaded node
* associated with the page and the node ID is the second argument in the
* page's path (e.g. node/12345 and node/12345/revisions, but not
* comment/reply/12345).
*
* Regions:
* - page.header: Items for the header region.
* - page.primary_menu: Items for the primary menu region.
* - page.secondary_menu: Items for the secondary menu region.
* - page.highlighted: Items for the highlighted content region.
* - page.help: Dynamic help text, mostly for admin pages.
* - page.content: The main content of the current page.
* - page.sidebar_first: Items for the first sidebar.
* - page.sidebar_second: Items for the second sidebar.
* - page.footer: Items for the footer region.
* - page.breadcrumb: Items for the breadcrumb region.
*
* @see template_preprocess_page()
* @see html.html.twig
*
* @ingroup themeable
*/
#}

<header>
    <div class="top--header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left--wrapper">
                        <a href="#"><span>Produits<i class="fa fa-external-link"></i></span></a>
                        <a href="#"><span>Agence offshore<i class="fa fa-external-link"></i></span></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right--wrapper">
                        <div class="top-social-media-icons">
                            <ul>
                                <li><a href="{{ facebook }}"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="{{ twitter }}"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="{{ instagram }}"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="{{ linkedin }}"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="multi--language">
                            {{ drupal_entity('block','block_selecteur_langue') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-logo">
        <div class="container">
            <div class="logo--menu">
                <a href="{{ path('<front>')}}"><img src="{{ base_path ~ directory }}/assets/img/logo.png"
                        alt="logo"></a>
            </div>
            <div class="top--menu-slider">
                <div class="menu--link">
                    <nav class="navi">
                        {{ page.header }}
                    </nav>
                </div>

                <div class="btn--contactez">
                    <!-- icon--seaarch.png -->
                    <div class="btn--search">
                        <div class="icon--search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- show input search -->
        <div class="search--bar">
            <form>
                <div class="search--bar-inner">
                    <div class="input--search-page">
                        <input type="text">
                    </div>
                    <button type="button">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</header>