{#
/**
 * @file
 * Default theme implementation for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}

    <section class="slider--banner">
        <div class="img--banner  banner-wrap">
            <img src="/{{ base_path ~ directory }}/assets/img/banner.png" alt="banner fornet">
        </div>
        <div class="container">
            <h1 class="showcase-titre-h1"> {{ title }} </h1>
            {{ drupal_breadcrumb() }}
        </div>

    </section>
