
/**
 * C O L O R S
 * Project colors
 */
/* Media responsive 767px*/
.slider--banner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	min-height: 516px;
	height: 516px;
	z-index: 0;
	&:after {
		content: '';
		height: 100%;
		width: 100%;
		position: absolute;
		background: rgba(11, 15, 41, 0.7);
		z-index: 10;
		mix-blend-mode: multiply;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.img--banner {
	min-height: 516px;
	height: 516px;
	img {
		position: absolute;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
.showcase-titre-h1 {
	text-align: center;
	color: $color_1;
	position: relative;
	z-index: 12;
	font-size: 50px;
	font-family: $font-family_4;
	max-width: 700px;
	padding-bottom: 15px;
	margin: auto;
}
.bradcrumb--title {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	left: 0;
	right: 0;
	z-index: 99;
	ul {
		display: flex;
		margin: 0;
		flex-wrap: wrap;
		li {
			color: $color_1;
			&:not(:last-child) {
				&:after {
					content: ' - ';
					margin-left: 5px;
					margin-right: 5px;
					color: $color_1;
				}
			}
			a {
				color: $color_1;
			}
		}
	}
}
.all--tabs--scrolle-agnece {
	.menu--scrolle {
		ul {
			display: flex;
			justify-content: space-evenly;
			height: 116px;
			align-items: center;
			box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
			z-index: 1;
			position: relative;
			margin-top: -57px;
			background-color: $color_1;
		}
		a {
			color: $color_4;
			font-size: 18px;
			font-weight: bold;
			position: relative;
			&:after {
				transform: scale(0);
				content: "";
				position: absolute;
				height: 0.05rem;
				width: 100%;
				bottom: -0.1rem;
				left: 0;
				transition: 200ms ease-in;
				background: #EF6700;
			}
			&:hover {
				color: $color_3;
				&:after {
					transform: scale(1);
				}
			}
		}
		li.inclick-href {
			a {
				color: $color_3;
				font-weight: bold;
			}
		}
	}
}
.odd-even-sc-1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&:nth-child(even) {
		.img--sc-1 {
			order: 2;
		}
		.detait--sc-1 {
			order: 1;
			padding: 0 30px 0 0px;
		}
	}
}
.img--sc-1 {
	img {
		height: 100%;
		width: 100%;
	}
	height: 767px;
	width: 40%;
}
.detait--sc-1 {
	width: 60%;
	padding: 0 15px 0 30px;
	p {
		span {
			color: $color_3;
			font-weight: 600;
		}
		color: $color_5;
		font-size: 18px;
		line-height: 30px;
	}
	h2 {
		font-size: 30px;
		color: $color_4;
		line-height: 37px;
		padding-bottom: 25px;
	}
}
section.counter--box--agence {
	height: 261px;
	background-color: $color_4;
	display: flex;
	align-items: center;
	.box--icon {
		height: 90px;
		width: 90px;
	}
}
.list--counter-agence {
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	.box--column-wrraper {
		display: flex;
		align-items: center;
	}
}
.tabs--scrolle-agence.container-fluid {
	width: 93%;
}
.loop-management {
	display: flex;
	align-items: center;
	justify-content: right;
	position: relative;
	margin-bottom: 30px;
}
section.cl-global--services {
	display: flex;
	height: 135px;
	background-color: $color_4;
	align-items: center;
}
.all-service-global {
	display: flex;
	color: $color_1;
	justify-content: space-between;
	align-items: center;
}
.title--detail--counter {
	span {
		font-size: 25px;
		color: $color_1;
		padding-right: 5px;
	}
	max-width: 163px;
	h3 {
		font-size: 25px;
		color: $color_1;
	}
}
.detailt--wrapper-valeurs {
	h2 {
		font-size: 30px;
		color: $color_4;
	}
	p {
		color: $color_5;
		font-size: 18px;
		line-height: 30px;
	}
	padding: 40px 20px;
}
.img-wrapper-valeurs {
	height: 285px;
	img {
		height: 100%;
		width: 100%;
	}
}
.list--nos--valeurs {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.box--wrapper-valeurs {
	width: 48%;
	margin-bottom: 40px;
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
}
.info--sc--management {
	padding: 0 0px 0 100px;
	height: 196px;
	display: flex;
	align-items: center;
	box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.15);
	width: 92%;
	p {
		padding: 0 40px;
		font-size: 18px;
		line-height: 30px;
		color: $color_5;
	}
}
.img--sc--management {
	height: 196px;
	width: 196px;
	position: absolute;
	left: 5px;
	top: 1px;
}
.all-sc--management {
	.loop-management {
		&:nth-child(even) {
			.img--sc--management {
				right: 5px;
				top: 2px;
				left: auto;
			}
			.info--sc--management {
				padding: 0 100px 0 0;
				box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.15);
			}
			justify-content: left;
		}
	}
}
.list--nos--equipes {
	button {
		font-weight: bold;
		font-size: 20px;
		color: $color_1;
		background-color: $color_4;
		transition: color .3s ease-in-out;
		padding: 10px 20px;
		width: 100%;
		&:hover {
			background-color: $color_3;
		}
	}
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.element-equipe- {
	background-color: $color_1;
	display: none;
	padding: 30px;
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
	margin-top: 10px;
	&:nth-child(1) {
		display: block;
	}
	h3 {
		font-size: 20px;
		color: $color_3;
		font-weight: bold;
		margin-bottom: 25px;
	}
	p {
		color: $color_5;
		font-size: 18px;
		line-height: 30px;
	}
}
button.tab-active-bg {
	background-color: $color_3;
}
.list--accordion {
	#accordionExample {
		button {
			background-color: $color_4;
			color: $color_1;
			font-size: 25px;
			height: 69px;
			padding: 1rem 1.25rem;
			box-shadow: none;
			outline: none;
			&:focus {
				border-color: $border-color_1 !important;
			}
		}
		button.accordion-button.collapsed {
			&:after {
				background-color: $color_4;
				color: $color_1;
				content: "\f067" !important;
			}
			background-color: $color_1;
			color: $color_4;
			font-size: 25px;
		}
		.accordion-body {
			p {
				font-size: 18px;
				line-height: 30px;
				color: $color_5;
			}
		}
	}
	.accordion-button {
		&:after {
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			content: "\f068" !important;
			background-image: initial;
			transform: rotate(-180deg);
			background-color: $color_1;
			height: 40px;
			width: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-size: contain;
			border-radius: 50px;
			background-repeat: repeat;
			color: $color_4;
		}
	}
	.accordion-item {
		margin-bottom: 20px;
		box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
	}
	margin-top: 30px;
}
section.sc--agence-web {
	padding: 40px 0 40px 0;
}
.cl-global--agence {
	section.nos-expertises {
		background-color: $background-color_5;
		padding: 40px 0 20px 0;
	}
	section.nos--certifications {
		margin-top: 30px;
	}
	section.sc--blog {
		padding: 40px 0 60px 0;
	}
}
.info--expertises {
	background-color: $color_1;
}
section.nos--valeurs {
	padding: 40px 0 40px 0;
}
section.sc--nos--equipes {
	background-color: $background-color_5;
	padding: 40px 0 60px 0;
}
.tabs--nos--equipes {
	margin-top: 20px;
}
section.sc--management {
	padding: 40px 0 40px 0;
}
section.sc--methodologie--travail {
	background-color: $background-color_5;
	padding: 40px 0 60px 0;
}
@media (max-width: 991px) {
	section.all--tabs--scrolle-agnece {
		display: none;
	}
	.odd-even-sc-1 {
		display: block;
		&:nth-child(even) {
			.detait--sc-1 {
				padding: 15px;
			}
		}
	}
	.img--sc-1 {
		height: auto;
		width: 100%;
	}
	.detait--sc-1 {
		width: 100%;
		padding: 15px;
	}
	section.counter--box--agence {
		height: auto;
		padding: 40px 0;
	}
	.list--counter-agence {
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 20px;
		.box--column-wrraper {
			justify-content: space-between;
		}
	}
	.img--sc--management {
		padding: 10px 0;
		position: relative;
		left: auto;
		top: auto;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.loop-management {
		display: block;
		box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
	}
	.info--sc--management {
		p {
			padding: 10px 40px;
			text-align: center;
		}
		height: auto;
		width: 98%;
		padding: 0 0 0 0 !important;
		box-shadow: initial !important;
	}
	.all-sc--management {
		.loop-management {
			&:nth-child(even) {
				.info--sc--management {
					padding: 0 0 0 0;
					box-shadow: none;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.box--wrapper-valeurs {
		width: 100%;
	}
	section.cl-global--services {
		.btn--more {
			display: flex;
			justify-content: center;
			padding: 10px 0;
		}
	}
	.all-service-global {
		flex-direction: column;
		justify-content: center;
	}
	.list--nos--equipes {
		flex-direction: column;
	}
	.title--service-gl {
		text-align: center;
	}
	.list--accordion {
		#accordionExample {
			button {
				font-size: 18px;
			}
		}
	}
}
