
/**
 * C O L O R S
 * Project colors
 */
.list--box-expertises {
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.info--expertises {
	h2 {
		color: $color_4;
		font-size: 30px;
	}
	padding: 30px;
	background-color: $color_1;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
.img--expertises {
	height: 242px;
	img {
		height: 100%;
		width: 100%;
	}
}
.wrapper-box-item {
	height: 345px;
	width: 48%;
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
	&:hover {
		.img--expertises {
			-webkit-transition: -webkit-transform 0.35s;
			transition: transform 0.35s;
		}
		.info--expertises {
			-webkit-transform: translate3d(0, -55px, 0);
			transform: translate3d(0, -55px, 0);
			background-color: $color_4;
			h2 {
				color: $color_1;
			}
			p {
				color: $color_1;
			}
		}
		.wrapper--paragraph {
			display: block;
		}
		background-color: $color_4;
	}
}
section.sc-list-expertises {
	padding: 60px 0 60px 0;
}
.wrapper--paragraph {
	p {
		font-size: 18px;
		color: $color_1;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	text-transform: none;
	font-size: 90%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	display: none;
	margin-bottom: -15px;
}
@media (max-width: 1199px) {
	.list--box-expertises {
		gap: 20px;
	}
	.wrapper-box-item {
		height: auto;
	}
}
@media (max-width: 767px) {
	.wrapper-box-item {
		width: 100%;
		&:hover {
			.info--expertises {
				transform: inherit;
				background-color: $color_1;
				h2 {
					color: $color_4;
				}
				p {
					color: $color_4;
				}
			}
		}
	}
	.wrapper--paragraph {
		p {
			color: $color_4;
		}
		display: block;
	}
	.img--expertises {
		height: auto;
	}
}
