

/* Slider */
/*  */
/*  */
/* contact */
/* menu scroll */
@keyframes login-blur {
	from {
		transform: translate(0) rotate(45deg);
	}
	to {
		transform: translateX(370px) rotate(45deg);
	}
}
@-webkit-keyframes shine {
	from {
		-webkit-mask-position: 150%;
	}
	to {
		-webkit-mask-position: -50%;
	}
}
/* PopUp */
/* Media responsive 1199px*/
/* Media responsive 991px*/
/* Media responsive 767px*/
html {
	scroll-behavior: smooth;
}
.logo--menu {
	text-align: center;
	position: absolute;
	top: 85px;
	width: max-content;
	margin: auto;
	display: flex;
	justify-content: center;
	left: 0;
	right: 0;
}
a {
	text-decoration: none;
	transition: all 0.2s linear;
	&:hover {
		text-decoration: none;
	}
	&:active {
		text-decoration: none;
	}
}
ul {
	list-style: none;
	padding: 0px;
}
li {
	list-style: none;
	padding: 0px;
}
input {
	border: none;
	padding: 0px;
	outline: none;
	&:focus {
		border: none;
		padding: 0px;
		outline: none;
	}
}
button {
	border: none;
	padding: 0px;
	outline: none;
	&:focus {
		border: none;
		padding: 0px;
		outline: none;
	}
}
.slider--video {
	video {
		width: 100%;
	}
}
.top--header {
	height: 52px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid  $color_1;
	.row {
		.col-lg-6 {
			&:first-child {
				display: flex;
				align-items: center;
			}
		}
	}
}
.left--wrapper {
	span {
		padding-right: 25px;
		i {
			padding-left: 15px;
		}
	}
	a {
		span {
			color: $color_1;
			font-size: 15px;
			font-family: $font-family_3;
		}
	}
}
.top-social-media-icons {
	ul {
		display: flex;
		justify-content: right;
		margin-bottom: 0;
		gap: 25px;
		li {
			padding-left: 20px;
		}
	}
	a {
		font-size: 18px;
		font-weight: 700;
		color: $color_1;
		position: relative;
		z-index: 1;
		&:before {
			content: '';
			width: calc(100% + 15px);
			aspect-ratio: 1;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) scale(0);
			border-radius: 50%;
			background-color: $background-color_1;
			z-index: -1;
			opacity: 0;
			transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
		}
		&:hover {
			transition: color .3s ease-in-out;
			&:before {
				transform: translate(-50%, -50%) scale(1);
				opacity: 1;
			}
			i {
				color: $color_3 !important;
			}
		}
	}
}
.right--wrapper {
	display: flex;
	justify-content: right;
	align-items: center;
}
#multilangue--fornet {
	&:hover {
		.dropdown-menu {
			will-change: transform;
			position: absolute;
			transform: translate3d(0px, 41px, 0px);
			top: 15px;
			display: block;
			left: -39px;
		}
	}
	#dropdownMenuButton {
		font-family: $font-family_1;
		pointer-events: none;
		font-size: 18px;
		font-family: $font-family_2;
		color: $color_1;
		width: 68px;
		display: flex;
		text-transform: capitalize;
		justify-content: space-around;
		pointer-events: none;
		font-size: 18px;
		font-family: $font-family_2;
		color: $color_1;
		width: 68px;
		display: flex;
		text-transform: capitalize;
		justify-content: space-around;
		position: relative;
		right: 20px;
	}
	a.language-link {
		width: 100%;
		display: block;
		text-transform: capitalize;
		color: $color_2;
		padding: 0;
		font-weight: 700;
		font-size: 16px;
		padding-left: 0;
		text-align: center;
	}
}
div#multilangue--fornet {
	height: 60px;
	display: flex;
	align-items: center;
	left: 13px;
	left: 0 !important;
	&:after {
		content: "";
		background-image: url(../img/arrow-multi.png);
		position: absolute;
		top: auto;
		width: 16px;
		height: 7px;
		right: -6px;
		background-size: contain;
		background-repeat: no-repeat;
	}
}
.dropdown-toggle {
	&::after {
		display: none;
	}
}
.multi--language {
	margin-left: 70px;
}
a.btn---contact {
	background: $color_3;
	font-family: $font-family_1;
}
ul.navi-list {
	display: flex;
	gap: 101px;
	margin-bottom: 0;
	a {
		font-family: $font-family_1;
		font-size: 18px;
		position: relative;
		color: $color_1;
		&:after {
			transform: scale(0);
			content: "";
			position: absolute;
			height: 0.05rem;
			width: 100%;
			bottom: -0.1rem;
			left: 0;
			transition: 200ms ease-in;
			background: $color_3;
		}
		&:hover {
			&:after {
				transform: scale(1);
			}
		}
	}
	li {
		&:nth-child(3) {
			padding-right: 100px;
		}
		&:nth-child(4) {
			padding-left: 100px;
		}
		&:last-child {
			overflow: hidden;
			position: relative;
			transition: all .3s ease-in-out;
			background: $color_3;
			color: $color_1;
			height: 34px;
			font-size: 18px;
			padding: 5px 15px;
			display: flex;
			width: max-content;
			a {
				font-size: 16px;
			}
			&:hover {
				a {
					color: $color_12;
				}
			}
		}
	}
}
.top--menu-slider {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.icon--search {
	i {
		color: $color_1;
	}
	cursor: pointer;
	position: relative;
	&:after {
		content: "";
		background-image: url(../img/icon--seaarch.png);
		position: absolute;
		top: auto;
		width: 27px;
		height: 27px;
		top: -13px;
		background-size: contain;
		background-repeat: no-repeat;
		z-index: -1;
	}
}
.menu--link {
	width: 100%;
}
.video--hp {
	height: 873px;
	img {
		height: 100%;
		width: 100%;
	}
}
.three-boox {
	display: flex;
	padding: 35px 0;
}
.box--icon {
	background: $background-color_7;
	height: 58px;
	width: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
	overflow: hidden;
	img {
		transform: scale(1);
		transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	}
	&:hover {
		img {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
}
.icon--sommes-nous {
	display: flex;
	align-items: center;
	span {
		font-family: $font-family_6;
		padding-right: 5px;
		font-size: 21px;
		color: $color_6;
	}
}
.cover--img-sommes {
	height: 509px;
	cursor: pointer;
	width: 47.5vw;
	position: relative;
	right: 100%;
	left: 51vw;
	margin-left: -50vw;
	margin-right: -50vw;
	overflow: hidden;
	img {
		height: 100%;
		width: 100%;
	}
	>img {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
	}
	&:hover {
		>img {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
}
.right--sommes-nous {
	background: $background-color_7;
	height: auto;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	position: absolute;
	left: -22px;
	bottom: -36px;
	overflow: hidden;
	img {
		transform: scale(1);
		transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	}
	&:hover {
		img {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
}
.item-box {
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
	height: 271px;
	background-color: $background-color_2;
	overflow: hidden;
	img {
		height: 100%;
		width: 100%;
		object-fit: none;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
	}
	&:hover {
		img {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
}
.all-box--expertises {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}
.img--item-box {
	height: 276px;
	overflow: hidden;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		transform: scale(1);
		transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	}
	&:hover {
		img {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
}
.box-expertises {
	width: 24.5%;
}
.img--realisations {
	height: 533px;
	position: relative;
	img {
		height: 100%;
		width: 100%;
	}
	&:after {
		content: '';
		height: 100%;
		width: 100%;
		position: absolute;
		background: rgba(11, 15, 41, 0.7);
		z-index: 10;
		mix-blend-mode: multiply;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.all-box--realisations {
	display: flex;
	margin-top: 30px;
	flex-wrap: wrap;
	.box-realisations {
		width: 33.33%;
		cursor: pointer;
		position: relative;
	}
}
.all-info--certifications {
	display: flex;
	text-align: center;
}
.info--recrute {
	height: 220px;
	display: flex;
	align-items: center;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
	&:hover {
		p {
			color: $color_7;
			transition: color .3s ease-in-out;
		}
	}
}
.img--recrute {
	img {
		height: 100%;
		width: 100%;
		transform: scale(1);
		transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	}
	overflow: hidden;
	&:hover {
		img {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
}
header {
	position: absolute;
	top: 0;
	z-index: 11;
	width: 100%;
}
.slider--show-hp {
	position: relative;
	&:after {
		content: '';
		height: 100%;
		width: 100%;
		position: absolute;
		background: rgba(11, 15, 41, 0.7);
		z-index: 10;
		mix-blend-mode: multiply;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.box--blog {
	cursor: pointer;
	position: relative;
	height: 430px;
	width: 25%;
	&:hover {
		.hover-blog {
			z-index: 10;
			color: $color_1;
			padding: 0 40px;
			text-align: left;
		}
		.info--box--blog {
			opacity: 0;
		}
		&:after {
			background: $color_4;
			mix-blend-mode: multiply;
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			display: flex;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 9;
		}
	}
}
body {
	a {
		&:hover {
			color: $color_3;
		}
	}
	.left--wrapper {
		a {
			span {
				&:hover {
					color: $color_3;
				}
			}
		}
	}
}
.btn--fornet {
	font-family: $font-family_4;
	overflow: hidden;
	position: relative;
	transition: all .3s ease-in-out;
	background: $color_3;
	color: $color_1;
	height: 34px;
	font-size: 18px;
	padding: 5px 17px;
	display: flex;
	width: max-content;
	text-transform: uppercase;
	&:after {
		background:  $color_1;
		content: "";
		height: 155px;
		left: -75px;
		opacity: .4;
		position: absolute;
		top: -50px;
		-ms-transform: rotate(35deg);
		transform: rotate(35deg);
		transition: all 0.55s cubic-bezier(0.19, 1, 0.22, 1);
		width: 50px;
	}
	&:hover {
		color: $color_1 !important;
		&:after {
			left: 120%;
			transition: all 0.55s cubic-bezier(0.19, 1, 0.22, 1);
		}
	}
	&::before {
		content: "";
		width: 30px;
		height: 200px;
		position: absolute;
		left: -20px;
		top: 0;
		margin-top: -20px;
		background:  $color_1;
		opacity: 0.6;
		filter: blur(20px);
		animation: login-blur 3s infinite;
		animation-delay: 0s;
		transform-origin: top;
	}
}
.menu-logo {
	padding-top: 40px;
}
.title--fornet {
	padding: 30px 0;
	h3 {
		font-family: $font-family_5;
		text-transform: uppercase;
		position: relative;
		font-weight: bold;
		padding-left: 40px;
		color: $color_4;
		font-size: 35px;
		max-width: fit-content;
		display: block;
		margin: auto;
		-webkit-mask-image: linear-gradient(-75deg,  $background-color_7 30%, $color_19 50%, $color_20 70%);
		-webkit-mask-size: 200%;
		animation: shine 1s infinite;
		&:after {
			height: 47px;
			content: " ";
			text-shadow: none;
			background-color: $background-color_3;
			width: 3px;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
.counter--box {
	margin-top: 50px;
}
.paragraph--fornet {
	p {
		font-family: $font-family_7;
		font-size: 18px;
		color: $color_5;
		line-height: 30px;
		display: -webkit-box;
		-webkit-line-clamp: 7;
		-webkit-box-orient: vertical;
		overflow: hidden;
		span {
			font-family: $font-family_6;
		}
	}
}
.title--realisations {
	h4 {
		font-family: $font-family_6;
		color: $color_1;
		font-size: 25px;
	}
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 99;
	color: $color_1;
	display: flex;
	left: 0;
	right: 0;
	justify-content: center;
	align-items: center;
}
.info-sommes-nous {
	h3 {
		margin: inherit;
	}
}
.title--counter {
	margin-top: 15px;
	h4 {
		font-size: 21px;
		color: $color_6;
		font-family: $font-family_7;
		letter-spacing: 1px;
		line-height: 29px;
	}
}
.info--projets {
	span {
		font-family: $font-family_8;
		color: $color_1;
		font-size: 27px;
		display: block;
		padding: 0 20px;
	}
}
.playe--icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: $background-color_4;
	img {
		width: auto;
		height: auto;
	}
}
.col-lg-6.all--right-nous {
	position: relative;
}
.btn--sommes-nous {
	margin-top: 35px;
}
section.qui-sommes--nous {
	padding: 50px 0 80px 0;
	height: 880px;
	background-color: $background-color_5;
	.row {
		align-items: center;
	}
}
.nos--réferences {
	padding: 40px 0 40px 0;
	margin-top: -235px;
	.owl-item {
		padding: 70px 0 50px 0;
	}
	.owl-dots {
		justify-content: center;
		display: flex;
		gap: 10px;
		button {
			height: 6.48px;
			width: 31px;
		}
		button.owl-dot {
			background-color: $background-color_6;
		}
		button.owl-dot.active {
			background-color: $background-color_7;
		}
	}
}
#box--réferences {
	.owl-item {
		&:nth-child(odd) {
			margin-top: -50px;
		}
	}
}
.info--expertises {
	h4 {
		font-size: 26px;
		color: $color_7;
	}
}
.paragraph--fornet.info--expertises {
	height: 370px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
	padding: 0 30px;
}
.btn--more {
	display: flex;
	justify-content: center;
	padding: 40px;
}
.hoover--info-box {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 999;
	left: 0;
	right: 0;
	align-items: center;
	display: flex;
	background: $background-color_7;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	text-align: center;
	padding: 0 50px;
	z-index: 1;
	transition: all 0.2s linear;
	h5 {
		font-size: 25px;
	}
	p {
		font-family: $font-family_2;
		font-size: 16px;
		padding: 10px 0;
	}
}
.info--realisations {
	position: relative;
	z-index: 2;
}
.box-realisations {
	&:hover {
		.hoover--info-box {
			z-index: 2;
			color: $color_1;
		}
	}
}
.box-btn--realisations {
	display: flex;
	gap: 20px;
	.outile--realisations {
		border: 1px solid;
		height: 27px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.outile--realisations {
	&:hover {
		a {
			background:  $color_1;
			color: $color_4;
		}
	}
	a {
		color: $color_1;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 10px;
	}
	span {
		font-family: $font-family_2;
		font-size: 11px;
		height: 100%;
		width: 100%;
		display: block;
	}
}
.item--certifications {
	padding: 0 35px;
}
.paragraph--certifications {
	padding: 15px 15px;
	p {
		font-family: $font-family_9;
		font-size: 18px;
		color: $color_4;
	}
}
.btn-click--arrow {
	height: 47px;
	width: auto;
	display: flex;
	background-color: $background-color_7;
	border: 1px solid $border-color_2;
	align-items: center;
	padding: 10px 20px;
	animation-timing-function: ease-in-out;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	transition-duration: .3s;
	img {
		object-fit: none;
		width: auto;
		height: 100%;
	}
	&:hover {
		span {
			width: auto;
			opacity: 1;
			right: -2px;
			padding-right: 10px;
		}
	}
}
.btn--arrow-target {
	overflow: hidden;
	right: 0;
	bottom: 0;
	position: absolute;
	top: 45px;
	width: auto;
	height: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
	z-index: 9;
	span {
		font-size: 18px;
		color: $color_12;
		width: 0;
		overflow: hidden;
		animation-timing-function: ease-in-out;
		-webkit-transition-duration: .3s;
		-o-transition-duration: .3s;
		transition-duration: .3s;
		width: 0px;
		height: auto;
		position: relative;
		right: -258px;
		z-index: 50;
		cursor: pointer;
		transition: right 1s;
		opacity: 0;
		top: 0;
		bottom: 0;
		text-transform: uppercase;
	}
}
section.nos--realisations {
	position: relative;
	padding: 0px 0 40px 0;
}
.info--sc--blog {
	margin-top: 75px;
	display: flex;
	justify-content: space-between;
	.box--blog {
		&:nth-child(even) {
			margin-top: -50px;
		}
	}
}
.img--box--blog {
	img {
		height: 100%;
		width: 100%;
	}
	position: relative;
	height: 430px;
	&:after {
		content: '';
		height: 100%;
		width: 100%;
		position: absolute;
		background: rgba(11, 15, 41, 0.7);
		z-index: 10;
		mix-blend-mode: multiply;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.wrapper--blog {
	position: relative;
	z-index: 2;
}
.info--box--blog {
	position: absolute;
	top: 0;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	p {
		font-family: $font-family_2;
		color: $color_1;
		font-size: 17px;
		max-width: 174px;
	}
	.tags--categorie {
		background-color: $background-color_8;
		color: $color_12;
	}
}
section.sc--blog {
	position: relative;
	padding: 0px 0 40px 0;
}
section.nos-expertises {
	padding: 0px 0 0px 0;
}
section.nos--certifications {
	padding: 0px 0 40px 0;
}
section.fornet--recrute {
	padding: 0px 0 40px 0;
	.container {
		margin-bottom: 25px;
	}
	.row {
		.col-lg-6 {
			&:nth-child(4n+3) {
				.info--recrute {
					flex-direction: row-reverse;
					justify-content: space-between;
				}
				margin-top: 60px;
				position: relative;
				left: 52px;
			}
			&:nth-child(4n+4) {
				.info--recrute {
					flex-direction: row-reverse;
					justify-content: space-between;
				}
				margin-top: 60px;
				position: relative;
				left: 52px;
			}
			&:nth-child(4n+1) {
				position: relative;
				right: 52px;
			}
			&:nth-child(4n+2) {
				position: relative;
				right: 52px;
			}
		}
		margin-top: 30px;
		justify-content: space-around;
	}
	.col-lg-6 {
		width: 44%;
		a {
			transition: color .3s ease-in-out;
			&:hover {
				display: block;
				box-shadow: 0 0 2px 0  $color_7;
			}
		}
	}
}
.hover-blog {
	z-index: 1;
	transition: all 0.2s linear;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	text-align: center;
	padding: 0 50px;
	transition: all 0.2s linear;
}
.wrapper--info--recrute {
	h4 {
		font-size: 18px;
		color: $color_8;
		font-family: $font-family_2;
		span {
			font-size: 40px;
			color: $color_9;
			font-family: $font-family_4;
		}
	}
	p {
		font-size: 25px;
		color: $color_4;
		font-family: $font-family_2;
	}
	padding: 0 50px;
	max-width: 305px;
}
.icon--contacter {
	height: 90px;
	width: 90px;
	background:  $color_1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	img {
		transform: scale(1);
		transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	}
	&:hover {
		img {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
}
.paragraph--contacter {
	padding-left: 6%;
	max-width: 316px;
	h4 {
		font-family: $font-family_4;
		font-size: 20px;
		color: $color_10;
	}
	h5 {
		font-family: $font-family_4;
		font-size: 18px;
		color: $color_11;
	}
	a {
		font-family: $font-family_4;
		font-size: 18px;
		color: $color_11;
	}
}
.all-info--contacter {
	display: flex;
	margin: 30px 0 40px 0;
	justify-content: space-between;
	.info--wrapper--contacter {
		width: 33%;
		display: flex;
		align-items: center;
	}
}
section.nous--contacter {
	padding: 40px 0 20px 0;
	position: relative;
}
.img--formulaire--contacter {
	position: relative;
	width: 60%;
	overflow: hidden;
	&:after {
		background: rgba(11, 15, 41, 0.36);
		mix-blend-mode: multiply;
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9;
	}
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		transform: scale(1);
		transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	}
	&:hover {
		img {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
}
.formulaire--contacter {
	display: flex;
	height: 481px;
}
.all--formulaire--contacter {
	width: 40%;
	background-color: $background-color_3;
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 0 50px;
		gap: 35px;
	}
	.form-item {
		display: flex;
		flex-direction: column;
		width: 100%;
		label {
			font-family: $font-family_2;
			font-size: 18px;
			color: $color_1;
		}
		input[type=submit] {
			background: transparent;
			color: $color_1;
			border-bottom: 0px solid  $color_1;
		}
		input {
			border-bottom: 2px solid  $color_1;
			background: transparent;
			color: $color_1;
		}
	}
}
.btn--contact-Localisation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}
.form-item.btn--fornet {
	width: auto;
}
.nous--contacter {
	&:after {
		background-color: $background-color_5;
		mix-blend-mode: multiply;
		content: "";
		position: absolute;
		height: 597px;
		width: 100%;
		display: flex;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
}
ul.item-footer--menu {
	a {
		font-family: $font-family_6;
		color: $color_4;
		position: relative;
		font-size: 18px;
		&:hover {
			color: $color_3;
			&:after {
				transform: scale(1);
			}
		}
		&:after {
			transform: scale(0);
			content: "";
			position: absolute;
			height: 0.05rem;
			width: 100%;
			bottom: -0.1rem;
			left: 0;
			transition: 200ms ease-in;
			background: $color_3;
		}
	}
	li {
		margin-bottom: 10px;
	}
	margin-top: 15px;
}
.info--about--footer {
	.top-social-media-icons {
		ul {
			justify-content: left;
			li {
				padding-right: 20px;
				padding-left: 0;
			}
			a {
				color: $color_1;
				&:before {
					content: '';
					width: calc(100% + 15px);
					aspect-ratio: 1;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%) scale(0);
					border-radius: 50%;
					background-color: $background-color_8;
					z-index: -1;
					opacity: 0;
					transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
					box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
					transform: translate(-50%, -50%) scale(1);
					opacity: 1;
				}
			}
		}
		a {
			&:hover {
				i {
					color: $color_4 !important;
				}
			}
		}
	}
	gap: 20px;
	display: flex;
	flex-direction: column;
}
.footer {
	>.container {
		>.row {
			padding-bottom: 40px;
			padding-top: 40px;
		}
	}
}
.btm-copyright {
	height: 54px;
	background-color: $background-color_3;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wrapper-copyright {
	span {
		font-family: $font-family_6;
		color: $color_1;
		font-size: 18px;
	}
}
.menu--bar-fixed {
	position: fixed;
	z-index: 9999;
	background-color: $background-color_3;
	max-width: 100%;
	width: 100%;
	top: 0;
	padding: 20px 0;
	.logo--menu {
		top: 15px;
	}
}
.search--bar {
	display: none;
	margin-top: 15px;
	background-color: $background-color_9;
	height: 70px;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 20;
	.search--bar-inner {
		display: flex;
		background-color: $background-color_10;
		input[type=text] {
			border: none;
			border-radius: 0%;
			width: 100%;
			background-color: $background-color_10;
			text-align: center;
			color: $color_1;
			font-size: 25px;
			height: 70px;
			margin-top: 0;
		}
		button {
			width: 70px;
			height: 70px;
			background-color: $background-color_8;
			display: flex;
			color: $color_1;
			justify-content: center;
			align-items: center;
			font-size: 30px;
			cursor: pointer;
		}
		div {
			flex: 1;
		}
	}
}
p {
	font-family: $font-family_7;
	-webkit-mask-image: linear-gradient(-75deg,  $background-color_7 30%, $color_19 50%, $color_20 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
}
.title--certifications {
	h4 {
		font-family: $font-family_2;
		font-size: 20px;
		color: $color_3;
	}
}
.action-gototop {
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: flex;
	align-items: center;
	margin: auto;
	text-align: center;
	justify-content: CENTER;
	width: 68px;
	height: 68px;
	background: $background-color_7;
	margin: 0;
	opacity: 0;
	-webkit-transform: translateY(200%);
	transform: translateY(200%);
	pointer-events: none;
	padding: 0;
	z-index: 999;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	cursor: pointer;
	border-radius: 50%;
}
.action-gototop.is-visible {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.video-popup {
	z-index: 2222;
	display: none;
	left: 0;
	width: 100%;
	height: 100vh;
	margin: auto;
	position: fixed;
	top: 0;
}
.popup-bg {
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 400;
	z-index: 2222;
}
.popup-content {
	width: 65%;
	background: 0 0;
	z-index: 6033;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
	button.popup-photo-close {
		background: 0 0;
		border: none;
		color: $color_1;
		font-size: 35px;
	}
}
.popup-video-header {
	text-align: right;
	padding: 0 0 10px;
}
.popup-photo-header {
	text-align: right;
	padding: 0 0 10px;
}
#presPopup {
	iframe {
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;
	}
}
.btn--contactez {
	z-index: 10;
}
@media (max-width: 1199px) {
	.box--icon {
		margin-right: 5px;
	}
	ul.navi-list {
		gap: 37px;
		li {
			&:nth-child(3) {
				padding-right: 90px;
			}
		}
		a {
			font-size: 17px;
		}
	}
	.right--sommes-nous {
		left: auto;
	}
	.paragraph--fornet.info--expertises {
		padding: 0 15px;
	}
	.img--realisations {
		height: 400px;
	}
	section.fornet--recrute {
		.row {
			.col-lg-6 {
				&:nth-child(4n+1) {
					right: auto;
				}
				&:nth-child(4n+2) {
					right: auto;
				}
				&:nth-child(4n+3) {
					left: auto;
				}
				&:nth-child(4n+4) {
					left: auto;
				}
			}
		}
	}
	.wrapper--info--recrute {
		padding: 0 20px;
		max-width: initial;
		width: 55%;
	}
	.img--recrute {
		height: 220px;
		width: 45%;
	}
	.all-info--contacter {
		.info--wrapper--contacter {
			&:nth-child(2) {
				.paragraph--contacter {
					width: 202px;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.nos--réferences {
		.owl-item {
			padding: 30px 0 50px 0;
		}
		margin-top: 0;
	}
	section.nos--certifications {
		padding: 0px 0 20px 0;
	}
	section.sc--blog {
		padding: 0px 0 20px 0;
	}
	.info--sc--blog {
		margin-top: 25px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 20px;
		.box--blog {
			&:nth-child(even) {
				margin-top: 0;
			}
		}
	}
	.title--fornet {
		h3 {
			padding-left: 0;
			text-align: center;
			padding-bottom: 20px;
			font-size: 25px;
			&:after {
				height: 3px;
				width: 47px;
				left: 0;
				top: auto;
				right: 0;
				bottom: 0;
				display: block;
				margin: auto;
			}
		}
	}
	.info-sommes-nous {
		h3 {
			margin: auto;
		}
	}
	header {
		position: relative;
	}
	body {
		overflow-x: clip;
	}
	html {
		overflow-x: clip;
	}
	.box-btn--realisations {
		display: block;
		.outile--realisations {
			margin: 10px 0;
		}
	}
	.top--header {
		background-color: $background-color_3;
		height: auto;
		.row {
			.col-lg-6 {
				width: max-content;
				justify-content: space-around;
			}
		}
	}
	.hoover--info-box {
		padding: 0 20px;
	}
	.menu-logo {
		display: none;
		background: red;
	}
	.all-box--realisations {
		.box-realisations {
			width: 50%;
		}
	}
	section.qui-sommes--nous {
		height: auto;
	}
	.cover--img-sommes {
		width: 100%;
		margin-top: 40px;
		right: auto;
		left: auto;
		margin-left: auto;
		margin-right: auto;
	}
	.right--sommes-nous {
		width: auto;
		display: inline-flex;
		left: 0;
		right: 0;
	}
	.all-info--contacter {
		display: flex;
		gap: 10px;
		flex-direction: column;
		.info--wrapper--contacter {
			&:nth-child(2) {
				.paragraph--contacter {
					width: 100%;
				}
			}
			width: 100%;
		}
	}
	.footer {
		>.container {
			>.row {
				justify-content: space-around;
				>div {
					width: 48%;
				}
			}
		}
	}
	.img--formulaire--contacter {
		width: 50%;
	}
	.all--formulaire--contacter {
		width: 50%;
	}
	.box--blog {
		width: 44%;
	}
	.img--recrute {
		img {
			object-fit: none;
		}
	}
	.item--certifications {
		padding: 0 15px;
	}
	.all-box--expertises {
		gap: 20px;
		justify-content: space-evenly;
	}
	.box-expertises {
		width: 44%;
	}
}
@media (max-width: 767px) {
	section.nos--réferences {
		.owl-stage-outer {
			width: 100%;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}
	}
	#box--réferences {
		.owl-item {
			&:nth-child(odd) {
				margin-top: 0;
			}
		}
	}
	.nous--contacter {
		&:after {
			height: 100%;
		}
	}
	.info--about--footer {
		.top-social-media-icons {
			ul {
				justify-content: center;
				li {
					padding-right: 0;
				}
			}
		}
	}
	.footer {
		padding-top: 40px;
		text-align: center;
		>.container {
			>.row {
				gap: 20px;
				>div {
					width: 100%;
				}
			}
		}
	}
	.paragraph--contacter {
		max-width: initial;
		text-align: center;
		padding: 20px 0 0 0;
	}
	.all-info--contacter {
		.info--wrapper--contacter {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
		}
	}
	.info--projets {
		span {
			font-size: 18px;
		}
	}
	.top--header {
		.row {
			.col-lg-6 {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
			}
		}
	}
	div#multilangue--fornet {
		&:after {
			right: -5px;
		}
	}
	.top-social-media-icons {
		ul {
			li {
				padding-left: 0;
			}
		}
	}
	.three-boox {
		display: block;
	}
	section.fornet--recrute {
		.row {
			.col-lg-6 {
				&:nth-child(4n+3) {
					margin-top: 0;
				}
				&:nth-child(4n+4) {
					margin-top: 0;
				}
			}
			gap: 15px;
		}
		.col-lg-6 {
			width: 100%;
		}
	}
	.left--wrapper {
		span {
			padding-right: 10px;
		}
	}
	.video--hp {
		height: 450px;
	}
	.cover--img-sommes {
		height: auto;
	}
	.formulaire--contacter {
		display: block;
		height: auto;
	}
	.all--formulaire--contacter {
		form {
			padding: 20px 30px;
			gap: 28px;
		}
		width: 100%;
	}
	.img--formulaire--contacter {
		width: 100%;
	}
	.wrapper--info--recrute {
		padding: 15px 20px;
		width: 100%;
	}
	.img--recrute {
		img {
			object-fit: cover;
		}
		height: auto;
		width: 100%;
	}
	.info--recrute {
		height: auto;
		display: block;
	}
	.right--sommes-nous {
		width: auto;
		position: relative;
	}
	.info--sc--blog {
		.box--blog {
			&:nth-child(even) {
				margin-top: 0;
			}
		}
		display: flex;
		gap: 10px;
		padding: 15px;
	}
	.box--blog {
		width: 100%;
	}
	.all-info--certifications {
		display: block;
	}
	.all-box--realisations {
		padding: 0 15px;
		gap: 10px;
		.box-realisations {
			width: 100%;
		}
	}
	.box-expertises {
		width: 100%;
	}
	.all-box--expertises {
		padding: 30px 15px;
	}
}
