
.filter-champs.submit-filter {
	&:after {
		background: #fff;
		content: "";
		height: 155px;
		left: -75px;
		opacity: .4;
		position: absolute;
		top: -50px;
		-ms-transform: rotate(35deg);
		transform: rotate(35deg);
		transition: all .55s cubic-bezier(.19, 1, .22, 1);
		width: 50px;
	}
	&:hover {
		&:after {
			left: 120%;
			transition: all .55s cubic-bezier(.19, 1, .22, 1);
		}
	}
	position: relative;
	overflow: hidden;
	transition: all .3s ease-in-out;
}
