@charset "UTF-8";
/**
 * F O N T S
 * Project font basis
 */
@font-face {
  font-display: swap;
  font-family: "robotoslab bold";
  src: url("../webfonts/RobotoSlab-Bold.ttf"); }

@font-face {
  font-display: swap;
  font-family: 'Artegra Sans Extended Regular';
  src: url("../webfonts/ArtegraSansExRegular.ttf"); }

@font-face {
  font-display: swap;
  font-family: "montserrat medium";
  src: url("../webfonts/Montserrat-Medium.otf"); }

@font-face {
  font-display: swap;
  font-family: "montserrat regular";
  src: url("../webfonts/Montserrat-Regular.otf"); }

@font-face {
  font-display: swap;
  font-family: "montserrat bold";
  src: url("../webfonts/Montserrat-Bold.otf"); }

@font-face {
  font-display: swap;
  font-family: "montserrat light";
  src: url("../webfonts/Montserrat-Light.otf"); }

@font-face {
  font-display: swap;
  font-family: "montserrat semiBold";
  src: url("../webfonts/Montserrat-SemiBold.otf"); }

@font-face {
  font-display: swap;
  font-family: "lato bold";
  src: url("../webfonts/Lato-Bold.ttf"); }

@font-face {
  font-display: swap;
  font-family: "lato regular";
  src: url("../webfonts/Lato-Regular.ttf"); }

@font-face {
  font-display: swap;
  font-family: "poppins light";
  src: url("../webfonts/poppins-Light.ttf"); }

/**
 * C O L O R S
 * Project colors
 */
/* Slider */
/*  */
/*  */
/* contact */
/* menu scroll */
@keyframes login-blur {
  from {
    transform: translate(0) rotate(45deg); }
  to {
    transform: translateX(370px) rotate(45deg); } }

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%; }
  to {
    -webkit-mask-position: -50%; } }

/* PopUp */
/* Media responsive 1199px*/
/* Media responsive 991px*/
/* Media responsive 767px*/
html {
  scroll-behavior: smooth; }

.logo--menu {
  text-align: center;
  position: absolute;
  top: 85px;
  width: max-content;
  margin: auto;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0; }

a {
  text-decoration: none;
  transition: all 0.2s linear; }
  a:hover {
    text-decoration: none; }
  a:active {
    text-decoration: none; }

ul {
  list-style: none;
  padding: 0px; }

li {
  list-style: none;
  padding: 0px; }

input {
  border: none;
  padding: 0px;
  outline: none; }
  input:focus {
    border: none;
    padding: 0px;
    outline: none; }

button {
  border: none;
  padding: 0px;
  outline: none; }
  button:focus {
    border: none;
    padding: 0px;
    outline: none; }

.slider--video video {
  width: 100%; }

.top--header {
  height: 52px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff; }
  .top--header .row .col-lg-6:first-child {
    display: flex;
    align-items: center; }

.left--wrapper span {
  padding-right: 25px; }
  .left--wrapper span i {
    padding-left: 15px; }

.left--wrapper a span {
  color: #ffffff;
  font-size: 15px;
  font-family: "robotoslab bold", "sans-serif"; }

.top-social-media-icons ul {
  display: flex;
  justify-content: right;
  margin-bottom: 0;
  gap: 25px; }
  .top-social-media-icons ul li {
    padding-left: 20px; }

.top-social-media-icons a {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  z-index: 1; }
  .top-social-media-icons a:before {
    content: '';
    width: calc(100% + 15px);
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background-color: #ffffff;
    z-index: -1;
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); }
  .top-social-media-icons a:hover {
    transition: color .3s ease-in-out; }
    .top-social-media-icons a:hover:before {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1; }
    .top-social-media-icons a:hover i {
      color: #EF6700 !important; }

.right--wrapper {
  display: flex;
  justify-content: right;
  align-items: center; }

#multilangue--fornet:hover .dropdown-menu {
  will-change: transform;
  position: absolute;
  transform: translate3d(0px, 41px, 0px);
  top: 15px;
  display: block;
  left: -39px; }

#multilangue--fornet #dropdownMenuButton {
  font-family: "montserrat medium", "sans-serif";
  pointer-events: none;
  font-size: 18px;
  font-family: "lato regular", sans-serif;
  color: #ffffff;
  width: 68px;
  display: flex;
  text-transform: capitalize;
  justify-content: space-around;
  pointer-events: none;
  font-size: 18px;
  font-family: "lato regular", sans-serif;
  color: #ffffff;
  width: 68px;
  display: flex;
  text-transform: capitalize;
  justify-content: space-around;
  position: relative;
  right: 20px; }

#multilangue--fornet a.language-link {
  width: 100%;
  display: block;
  text-transform: capitalize;
  color: #6c7179;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  padding-left: 0;
  text-align: center; }

div#multilangue--fornet {
  height: 60px;
  display: flex;
  align-items: center;
  left: 13px;
  left: 0 !important; }
  div#multilangue--fornet:after {
    content: "";
    background-image: url(../img/arrow-multi.png);
    position: absolute;
    top: auto;
    width: 16px;
    height: 7px;
    right: -6px;
    background-size: contain;
    background-repeat: no-repeat; }

.dropdown-toggle::after {
  display: none; }

.multi--language {
  margin-left: 70px; }

a.btn---contact {
  background: #EF6700;
  font-family: "montserrat medium", "sans-serif"; }

ul.navi-list {
  display: flex;
  gap: 101px;
  margin-bottom: 0; }
  ul.navi-list a {
    font-family: "montserrat medium", "sans-serif";
    font-size: 18px;
    position: relative;
    color: #ffffff; }
    ul.navi-list a:after {
      transform: scale(0);
      content: "";
      position: absolute;
      height: 0.05rem;
      width: 100%;
      bottom: -0.1rem;
      left: 0;
      transition: 200ms ease-in;
      background: #EF6700; }
    ul.navi-list a:hover:after {
      transform: scale(1); }
  ul.navi-list li:nth-child(3) {
    padding-right: 100px; }
  ul.navi-list li:nth-child(4) {
    padding-left: 100px; }
  ul.navi-list li:last-child {
    overflow: hidden;
    position: relative;
    transition: all .3s ease-in-out;
    background: #EF6700;
    color: #ffffff;
    height: 34px;
    font-size: 18px;
    padding: 5px 15px;
    display: flex;
    width: max-content; }
    ul.navi-list li:last-child a {
      font-size: 16px; }
    ul.navi-list li:last-child:hover a {
      color: #fff; }

.top--menu-slider {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.icon--search {
  cursor: pointer;
  position: relative; }
  .icon--search i {
    color: #ffffff; }
  .icon--search:after {
    content: "";
    background-image: url(../img/icon--seaarch.png);
    position: absolute;
    top: auto;
    width: 27px;
    height: 27px;
    top: -13px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1; }

.menu--link {
  width: 100%; }

.video--hp {
  height: 873px; }
  .video--hp img {
    height: 100%;
    width: 100%; }

.three-boox {
  display: flex;
  padding: 35px 0; }

.box--icon {
  background: #A2C432;
  height: 58px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  overflow: hidden; }
  .box--icon img {
    transform: scale(1);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; }
  .box--icon:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.icon--sommes-nous {
  display: flex;
  align-items: center; }
  .icon--sommes-nous span {
    font-family: "montserrat bold", "sans-serif";
    padding-right: 5px;
    font-size: 21px;
    color: #181818; }

.cover--img-sommes {
  height: 509px;
  cursor: pointer;
  width: 47.5vw;
  position: relative;
  right: 100%;
  left: 51vw;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden; }
  .cover--img-sommes img {
    height: 100%;
    width: 100%; }
  .cover--img-sommes > img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s; }
  .cover--img-sommes:hover > img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.right--sommes-nous {
  background: #A2C432;
  height: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  position: absolute;
  left: -22px;
  bottom: -36px;
  overflow: hidden; }
  .right--sommes-nous img {
    transform: scale(1);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; }
  .right--sommes-nous:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.item-box {
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
  height: 271px;
  background-color: #fff;
  overflow: hidden; }
  .item-box img {
    height: 100%;
    width: 100%;
    object-fit: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s; }
  .item-box:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.all-box--expertises {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 30px 0; }

.img--item-box {
  height: 276px;
  overflow: hidden; }
  .img--item-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; }
  .img--item-box:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.box-expertises {
  width: 24.5%; }

.img--realisations {
  height: 533px;
  position: relative; }
  .img--realisations img {
    height: 100%;
    width: 100%; }
  .img--realisations:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(11, 15, 41, 0.7);
    z-index: 10;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.all-box--realisations {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap; }
  .all-box--realisations .box-realisations {
    width: 33.33%;
    cursor: pointer;
    position: relative; }

.all-info--certifications {
  display: flex;
  text-align: center; }

.info--recrute {
  height: 220px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); }
  .info--recrute:hover p {
    color: #EC5218;
    transition: color .3s ease-in-out; }

.img--recrute {
  overflow: hidden; }
  .img--recrute img {
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; }
  .img--recrute:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

header {
  position: absolute;
  top: 0;
  z-index: 11;
  width: 100%; }

.slider--show-hp {
  position: relative; }
  .slider--show-hp:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(11, 15, 41, 0.7);
    z-index: 10;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.box--blog {
  cursor: pointer;
  position: relative;
  height: 430px;
  width: 25%; }
  .box--blog:hover .hover-blog {
    z-index: 10;
    color: #ffffff;
    padding: 0 40px;
    text-align: left; }
  .box--blog:hover .info--box--blog {
    opacity: 0; }
  .box--blog:hover:after {
    background: #0B0F29;
    mix-blend-mode: multiply;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9; }

body a:hover {
  color: #EF6700; }

body .left--wrapper a span:hover {
  color: #EF6700; }

.btn--fornet {
  font-family: "lato bold", sans-serif;
  overflow: hidden;
  position: relative;
  transition: all .3s ease-in-out;
  background: #EF6700;
  color: #ffffff;
  height: 34px;
  font-size: 18px;
  padding: 5px 17px;
  display: flex;
  width: max-content;
  text-transform: uppercase; }
  .btn--fornet:after {
    background: #ffffff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .4;
    position: absolute;
    top: -50px;
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    transition: all 0.55s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px; }
  .btn--fornet:hover {
    color: #ffffff !important; }
    .btn--fornet:hover:after {
      left: 120%;
      transition: all 0.55s cubic-bezier(0.19, 1, 0.22, 1); }
  .btn--fornet::before {
    content: "";
    width: 30px;
    height: 200px;
    position: absolute;
    left: -20px;
    top: 0;
    margin-top: -20px;
    background: #ffffff;
    opacity: 0.6;
    filter: blur(20px);
    animation: login-blur 3s infinite;
    animation-delay: 0s;
    transform-origin: top; }

.menu-logo {
  padding-top: 40px; }

.title--fornet {
  padding: 30px 0; }
  .title--fornet h3 {
    font-family: "Artegra Sans Extended Regular", "sans-serif";
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    padding-left: 40px;
    color: #0B0F29;
    font-size: 35px;
    max-width: fit-content;
    display: block;
    margin: auto;
    -webkit-mask-image: linear-gradient(-75deg, #A2C432 30%, #000 50%, #0b0f2999 70%);
    -webkit-mask-size: 200%;
    animation: shine 1s infinite; }
    .title--fornet h3:after {
      height: 47px;
      content: " ";
      text-shadow: none;
      background-color: #0B0F29;
      width: 3px;
      position: absolute;
      left: 0;
      top: 0; }

.counter--box {
  margin-top: 50px; }

.paragraph--fornet p {
  font-family: "montserrat regular", "sans-serif";
  font-size: 18px;
  color: #7F7F7F;
  line-height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden; }
  .paragraph--fornet p span {
    font-family: "montserrat bold", "sans-serif"; }

.title--realisations {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 99;
  color: #ffffff;
  display: flex;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center; }
  .title--realisations h4 {
    font-family: "montserrat bold", "sans-serif";
    color: #ffffff;
    font-size: 25px; }

.info-sommes-nous h3 {
  margin: inherit; }

.title--counter {
  margin-top: 15px; }
  .title--counter h4 {
    font-size: 21px;
    color: #181818;
    font-family: "montserrat regular", "sans-serif";
    letter-spacing: 1px;
    line-height: 29px; }

.info--projets span {
  font-family: "montserrat semiBold", sans-serif;
  color: #ffffff;
  font-size: 27px;
  display: block;
  padding: 0 20px; }

.playe--icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(11, 15, 41, 0.51); }
  .playe--icon img {
    width: auto;
    height: auto; }

.col-lg-6.all--right-nous {
  position: relative; }

.btn--sommes-nous {
  margin-top: 35px; }

section.qui-sommes--nous {
  padding: 50px 0 80px 0;
  height: 880px;
  background-color: #F2F3F7; }
  section.qui-sommes--nous .row {
    align-items: center; }

.nos--réferences {
  padding: 40px 0 40px 0;
  margin-top: -235px; }
  .nos--réferences .owl-item {
    padding: 70px 0 50px 0; }
  .nos--réferences .owl-dots {
    justify-content: center;
    display: flex;
    gap: 10px; }
    .nos--réferences .owl-dots button {
      height: 6.48px;
      width: 31px; }
    .nos--réferences .owl-dots button.owl-dot {
      background-color: #AEAEAE; }
    .nos--réferences .owl-dots button.owl-dot.active {
      background-color: #A2C432; }

#box--réferences .owl-item:nth-child(odd) {
  margin-top: -50px; }

.info--expertises h4 {
  font-size: 26px;
  color: #EC5218; }

.paragraph--fornet.info--expertises {
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
  padding: 0 30px; }

.btn--more {
  display: flex;
  justify-content: center;
  padding: 40px; }

.hoover--info-box {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 999;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  background: #A2C432;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  padding: 0 50px;
  z-index: 1;
  transition: all 0.2s linear; }
  .hoover--info-box h5 {
    font-size: 25px; }
  .hoover--info-box p {
    font-family: "lato regular", sans-serif;
    font-size: 16px;
    padding: 10px 0; }

.info--realisations {
  position: relative;
  z-index: 2; }

.box-realisations:hover .hoover--info-box {
  z-index: 2;
  color: #ffffff; }

.box-btn--realisations {
  display: flex;
  gap: 20px; }
  .box-btn--realisations .outile--realisations {
    border: 1px solid;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center; }

.outile--realisations:hover a {
  background: #ffffff;
  color: #0B0F29; }

.outile--realisations a {
  color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px; }

.outile--realisations span {
  font-family: "lato regular", sans-serif;
  font-size: 11px;
  height: 100%;
  width: 100%;
  display: block; }

.item--certifications {
  padding: 0 35px; }

.paragraph--certifications {
  padding: 15px 15px; }
  .paragraph--certifications p {
    font-family: "poppins light", sans-serif;
    font-size: 18px;
    color: #0B0F29; }

.btn-click--arrow {
  height: 47px;
  width: auto;
  display: flex;
  background-color: #A2C432;
  border: 1px solid #1c1e2c;
  align-items: center;
  padding: 10px 20px;
  animation-timing-function: ease-in-out;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s; }
  .btn-click--arrow img {
    object-fit: none;
    width: auto;
    height: 100%; }
  .btn-click--arrow:hover span {
    width: auto;
    opacity: 1;
    right: -2px;
    padding-right: 10px; }

.btn--arrow-target {
  overflow: hidden;
  right: 0;
  bottom: 0;
  position: absolute;
  top: 45px;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 9; }
  .btn--arrow-target span {
    font-size: 18px;
    color: #fff;
    width: 0;
    overflow: hidden;
    animation-timing-function: ease-in-out;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    width: 0px;
    height: auto;
    position: relative;
    right: -258px;
    z-index: 50;
    cursor: pointer;
    transition: right 1s;
    opacity: 0;
    top: 0;
    bottom: 0;
    text-transform: uppercase; }

section.nos--realisations {
  position: relative;
  padding: 0px 0 40px 0; }

.info--sc--blog {
  margin-top: 75px;
  display: flex;
  justify-content: space-between; }
  .info--sc--blog .box--blog:nth-child(even) {
    margin-top: -50px; }

.img--box--blog {
  position: relative;
  height: 430px; }
  .img--box--blog img {
    height: 100%;
    width: 100%; }
  .img--box--blog:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(11, 15, 41, 0.7);
    z-index: 10;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.wrapper--blog {
  position: relative;
  z-index: 2; }

.info--box--blog {
  position: absolute;
  top: 0;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99; }
  .info--box--blog p {
    font-family: "lato regular", sans-serif;
    color: #ffffff;
    font-size: 17px;
    max-width: 174px; }
  .info--box--blog .tags--categorie {
    background-color: #EF6700;
    color: #fff; }

section.sc--blog {
  position: relative;
  padding: 0px 0 40px 0; }

section.nos-expertises {
  padding: 0px 0 0px 0; }

section.nos--certifications {
  padding: 0px 0 40px 0; }

section.fornet--recrute {
  padding: 0px 0 40px 0; }
  section.fornet--recrute .container {
    margin-bottom: 25px; }
  section.fornet--recrute .row {
    margin-top: 30px;
    justify-content: space-around; }
    section.fornet--recrute .row .col-lg-6:nth-child(4n+3) {
      margin-top: 60px;
      position: relative;
      left: 52px; }
      section.fornet--recrute .row .col-lg-6:nth-child(4n+3) .info--recrute {
        flex-direction: row-reverse;
        justify-content: space-between; }
    section.fornet--recrute .row .col-lg-6:nth-child(4n+4) {
      margin-top: 60px;
      position: relative;
      left: 52px; }
      section.fornet--recrute .row .col-lg-6:nth-child(4n+4) .info--recrute {
        flex-direction: row-reverse;
        justify-content: space-between; }
    section.fornet--recrute .row .col-lg-6:nth-child(4n+1) {
      position: relative;
      right: 52px; }
    section.fornet--recrute .row .col-lg-6:nth-child(4n+2) {
      position: relative;
      right: 52px; }
  section.fornet--recrute .col-lg-6 {
    width: 44%; }
    section.fornet--recrute .col-lg-6 a {
      transition: color .3s ease-in-out; }
      section.fornet--recrute .col-lg-6 a:hover {
        display: block;
        box-shadow: 0 0 2px 0 #EC5218; }

.hover-blog {
  z-index: 1;
  transition: all 0.2s linear;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  padding: 0 50px;
  transition: all 0.2s linear; }

.wrapper--info--recrute {
  padding: 0 50px;
  max-width: 305px; }
  .wrapper--info--recrute h4 {
    font-size: 18px;
    color: #444444;
    font-family: "lato regular", sans-serif; }
    .wrapper--info--recrute h4 span {
      font-size: 40px;
      color: #FB6947;
      font-family: "lato bold", sans-serif; }
  .wrapper--info--recrute p {
    font-size: 25px;
    color: #0B0F29;
    font-family: "lato regular", sans-serif; }

.icon--contacter {
  height: 90px;
  width: 90px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden; }
  .icon--contacter img {
    transform: scale(1);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; }
  .icon--contacter:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.paragraph--contacter {
  padding-left: 6%;
  max-width: 316px; }
  .paragraph--contacter h4 {
    font-family: "lato bold", sans-serif;
    font-size: 20px;
    color: #222222; }
  .paragraph--contacter h5 {
    font-family: "lato bold", sans-serif;
    font-size: 18px;
    color: #001466; }
  .paragraph--contacter a {
    font-family: "lato bold", sans-serif;
    font-size: 18px;
    color: #001466; }

.all-info--contacter {
  display: flex;
  margin: 30px 0 40px 0;
  justify-content: space-between; }
  .all-info--contacter .info--wrapper--contacter {
    width: 33%;
    display: flex;
    align-items: center; }

section.nous--contacter {
  padding: 40px 0 20px 0;
  position: relative; }

.img--formulaire--contacter {
  position: relative;
  width: 60%;
  overflow: hidden; }
  .img--formulaire--contacter:after {
    background: rgba(11, 15, 41, 0.36);
    mix-blend-mode: multiply;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9; }
  .img--formulaire--contacter img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; }
  .img--formulaire--contacter:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.formulaire--contacter {
  display: flex;
  height: 481px; }

.all--formulaire--contacter {
  width: 40%;
  background-color: #0B0F29; }
  .all--formulaire--contacter form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 50px;
    gap: 35px; }
  .all--formulaire--contacter .form-item {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .all--formulaire--contacter .form-item label {
      font-family: "lato regular", sans-serif;
      font-size: 18px;
      color: #ffffff; }
    .all--formulaire--contacter .form-item input[type=submit] {
      background: transparent;
      color: #ffffff;
      border-bottom: 0px solid #ffffff; }
    .all--formulaire--contacter .form-item input {
      border-bottom: 2px solid #ffffff;
      background: transparent;
      color: #ffffff; }

.btn--contact-Localisation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99; }

.form-item.btn--fornet {
  width: auto; }

.nous--contacter:after {
  background-color: #F2F3F7;
  mix-blend-mode: multiply;
  content: "";
  position: absolute;
  height: 597px;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

ul.item-footer--menu {
  margin-top: 15px; }
  ul.item-footer--menu a {
    font-family: "montserrat bold", "sans-serif";
    color: #0B0F29;
    position: relative;
    font-size: 18px; }
    ul.item-footer--menu a:hover {
      color: #EF6700; }
      ul.item-footer--menu a:hover:after {
        transform: scale(1); }
    ul.item-footer--menu a:after {
      transform: scale(0);
      content: "";
      position: absolute;
      height: 0.05rem;
      width: 100%;
      bottom: -0.1rem;
      left: 0;
      transition: 200ms ease-in;
      background: #EF6700; }
  ul.item-footer--menu li {
    margin-bottom: 10px; }

.info--about--footer {
  gap: 20px;
  display: flex;
  flex-direction: column; }
  .info--about--footer .top-social-media-icons ul {
    justify-content: left; }
    .info--about--footer .top-social-media-icons ul li {
      padding-right: 20px;
      padding-left: 0; }
    .info--about--footer .top-social-media-icons ul a {
      color: #ffffff; }
      .info--about--footer .top-social-media-icons ul a:before {
        content: '';
        width: calc(100% + 15px);
        aspect-ratio: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
        background-color: #EF6700;
        z-index: -1;
        opacity: 0;
        transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        transform: translate(-50%, -50%) scale(1);
        opacity: 1; }
  .info--about--footer .top-social-media-icons a:hover i {
    color: #0B0F29 !important; }

.footer > .container > .row {
  padding-bottom: 40px;
  padding-top: 40px; }

.btm-copyright {
  height: 54px;
  background-color: #0B0F29;
  display: flex;
  align-items: center;
  justify-content: center; }

.wrapper-copyright span {
  font-family: "montserrat bold", "sans-serif";
  color: #ffffff;
  font-size: 18px; }

.menu--bar-fixed {
  position: fixed;
  z-index: 9999;
  background-color: #0B0F29;
  max-width: 100%;
  width: 100%;
  top: 0;
  padding: 20px 0; }
  .menu--bar-fixed .logo--menu {
    top: 15px; }

.search--bar {
  display: none;
  margin-top: 15px;
  background-color: rgba(11, 15, 41, 0.7);
  height: 70px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 20; }
  .search--bar .search--bar-inner {
    display: flex;
    background-color: transparent; }
    .search--bar .search--bar-inner input[type=text] {
      border: none;
      border-radius: 0%;
      width: 100%;
      background-color: transparent;
      text-align: center;
      color: #ffffff;
      font-size: 25px;
      height: 70px;
      margin-top: 0; }
    .search--bar .search--bar-inner button {
      width: 70px;
      height: 70px;
      background-color: #EF6700;
      display: flex;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      cursor: pointer; }
    .search--bar .search--bar-inner div {
      flex: 1; }

p {
  font-family: "montserrat regular", "sans-serif";
  -webkit-mask-image: linear-gradient(-75deg, #A2C432 30%, #000 50%, #0b0f2999 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite; }

.title--certifications h4 {
  font-family: "lato regular", sans-serif;
  font-size: 20px;
  color: #EF6700; }

.action-gototop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
  justify-content: CENTER;
  width: 68px;
  height: 68px;
  background: #A2C432;
  margin: 0;
  opacity: 0;
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  pointer-events: none;
  padding: 0;
  z-index: 999;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
  border-radius: 50%; }

.action-gototop.is-visible {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.video-popup {
  z-index: 2222;
  display: none;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: fixed;
  top: 0; }

.popup-bg {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 400;
  z-index: 2222; }

.popup-content {
  width: 65%;
  background: 0 0;
  z-index: 6033;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto; }
  .popup-content button.popup-photo-close {
    background: 0 0;
    border: none;
    color: #ffffff;
    font-size: 35px; }

.popup-video-header {
  text-align: right;
  padding: 0 0 10px; }

.popup-photo-header {
  text-align: right;
  padding: 0 0 10px; }

#presPopup iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9; }

.btn--contactez {
  z-index: 10; }

@media (max-width: 1199px) {
  .box--icon {
    margin-right: 5px; }
  ul.navi-list {
    gap: 37px; }
    ul.navi-list li:nth-child(3) {
      padding-right: 90px; }
    ul.navi-list a {
      font-size: 17px; }
  .right--sommes-nous {
    left: auto; }
  .paragraph--fornet.info--expertises {
    padding: 0 15px; }
  .img--realisations {
    height: 400px; }
  section.fornet--recrute .row .col-lg-6:nth-child(4n+1) {
    right: auto; }
  section.fornet--recrute .row .col-lg-6:nth-child(4n+2) {
    right: auto; }
  section.fornet--recrute .row .col-lg-6:nth-child(4n+3) {
    left: auto; }
  section.fornet--recrute .row .col-lg-6:nth-child(4n+4) {
    left: auto; }
  .wrapper--info--recrute {
    padding: 0 20px;
    max-width: initial;
    width: 55%; }
  .img--recrute {
    height: 220px;
    width: 45%; }
  .all-info--contacter .info--wrapper--contacter:nth-child(2) .paragraph--contacter {
    width: 202px; } }

@media (max-width: 991px) {
  .nos--réferences {
    margin-top: 0; }
    .nos--réferences .owl-item {
      padding: 30px 0 50px 0; }
  section.nos--certifications {
    padding: 0px 0 20px 0; }
  section.sc--blog {
    padding: 0px 0 20px 0; }
  .info--sc--blog {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; }
    .info--sc--blog .box--blog:nth-child(even) {
      margin-top: 0; }
  .title--fornet h3 {
    padding-left: 0;
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px; }
    .title--fornet h3:after {
      height: 3px;
      width: 47px;
      left: 0;
      top: auto;
      right: 0;
      bottom: 0;
      display: block;
      margin: auto; }
  .info-sommes-nous h3 {
    margin: auto; }
  header {
    position: relative; }
  body {
    overflow-x: clip; }
  html {
    overflow-x: clip; }
  .box-btn--realisations {
    display: block; }
    .box-btn--realisations .outile--realisations {
      margin: 10px 0; }
  .top--header {
    background-color: #0B0F29;
    height: auto; }
    .top--header .row .col-lg-6 {
      width: max-content;
      justify-content: space-around; }
  .hoover--info-box {
    padding: 0 20px; }
  .menu-logo {
    display: none;
    background: red; }
  .all-box--realisations .box-realisations {
    width: 50%; }
  section.qui-sommes--nous {
    height: auto; }
  .cover--img-sommes {
    width: 100%;
    margin-top: 40px;
    right: auto;
    left: auto;
    margin-left: auto;
    margin-right: auto; }
  .right--sommes-nous {
    width: auto;
    display: inline-flex;
    left: 0;
    right: 0; }
  .all-info--contacter {
    display: flex;
    gap: 10px;
    flex-direction: column; }
    .all-info--contacter .info--wrapper--contacter {
      width: 100%; }
      .all-info--contacter .info--wrapper--contacter:nth-child(2) .paragraph--contacter {
        width: 100%; }
  .footer > .container > .row {
    justify-content: space-around; }
    .footer > .container > .row > div {
      width: 48%; }
  .img--formulaire--contacter {
    width: 50%; }
  .all--formulaire--contacter {
    width: 50%; }
  .box--blog {
    width: 44%; }
  .img--recrute img {
    object-fit: none; }
  .item--certifications {
    padding: 0 15px; }
  .all-box--expertises {
    gap: 20px;
    justify-content: space-evenly; }
  .box-expertises {
    width: 44%; } }

@media (max-width: 767px) {
  section.nos--réferences .owl-stage-outer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
  #box--réferences .owl-item:nth-child(odd) {
    margin-top: 0; }
  .nous--contacter:after {
    height: 100%; }
  .info--about--footer .top-social-media-icons ul {
    justify-content: center; }
    .info--about--footer .top-social-media-icons ul li {
      padding-right: 0; }
  .footer {
    padding-top: 40px;
    text-align: center; }
    .footer > .container > .row {
      gap: 20px; }
      .footer > .container > .row > div {
        width: 100%; }
  .paragraph--contacter {
    max-width: initial;
    text-align: center;
    padding: 20px 0 0 0; }
  .all-info--contacter .info--wrapper--contacter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
  .info--projets span {
    font-size: 18px; }
  .top--header .row .col-lg-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
  div#multilangue--fornet:after {
    right: -5px; }
  .top-social-media-icons ul li {
    padding-left: 0; }
  .three-boox {
    display: block; }
  section.fornet--recrute .row {
    gap: 15px; }
    section.fornet--recrute .row .col-lg-6:nth-child(4n+3) {
      margin-top: 0; }
    section.fornet--recrute .row .col-lg-6:nth-child(4n+4) {
      margin-top: 0; }
  section.fornet--recrute .col-lg-6 {
    width: 100%; }
  .left--wrapper span {
    padding-right: 10px; }
  .video--hp {
    height: 450px; }
  .cover--img-sommes {
    height: auto; }
  .formulaire--contacter {
    display: block;
    height: auto; }
  .all--formulaire--contacter {
    width: 100%; }
    .all--formulaire--contacter form {
      padding: 20px 30px;
      gap: 28px; }
  .img--formulaire--contacter {
    width: 100%; }
  .wrapper--info--recrute {
    padding: 15px 20px;
    width: 100%; }
  .img--recrute {
    height: auto;
    width: 100%; }
    .img--recrute img {
      object-fit: cover; }
  .info--recrute {
    height: auto;
    display: block; }
  .right--sommes-nous {
    width: auto;
    position: relative; }
  .info--sc--blog {
    display: flex;
    gap: 10px;
    padding: 15px; }
    .info--sc--blog .box--blog:nth-child(even) {
      margin-top: 0; }
  .box--blog {
    width: 100%; }
  .all-info--certifications {
    display: block; }
  .all-box--realisations {
    padding: 0 15px;
    gap: 10px; }
    .all-box--realisations .box-realisations {
      width: 100%; }
  .box-expertises {
    width: 100%; }
  .all-box--expertises {
    padding: 30px 15px; } }

/**
 * C O L O R S
 * Project colors
 */
/* Media responsive 767px*/
.slider--banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-height: 516px;
  height: 516px;
  z-index: 0; }
  .slider--banner:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(11, 15, 41, 0.7);
    z-index: 10;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.img--banner {
  min-height: 516px;
  height: 516px; }
  .img--banner img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover; }

.showcase-titre-h1 {
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 12;
  font-size: 50px;
  font-family: "lato bold", sans-serif;
  max-width: 700px;
  padding-bottom: 15px;
  margin: auto; }

.bradcrumb--title {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  z-index: 99; }
  .bradcrumb--title ul {
    display: flex;
    margin: 0;
    flex-wrap: wrap; }
    .bradcrumb--title ul li {
      color: #ffffff; }
      .bradcrumb--title ul li:not(:last-child):after {
        content: ' - ';
        margin-left: 5px;
        margin-right: 5px;
        color: #ffffff; }
      .bradcrumb--title ul li a {
        color: #ffffff; }

.all--tabs--scrolle-agnece .menu--scrolle ul {
  display: flex;
  justify-content: space-evenly;
  height: 116px;
  align-items: center;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
  z-index: 1;
  position: relative;
  margin-top: -57px;
  background-color: #ffffff; }

.all--tabs--scrolle-agnece .menu--scrolle a {
  color: #0B0F29;
  font-size: 18px;
  font-weight: bold;
  position: relative; }
  .all--tabs--scrolle-agnece .menu--scrolle a:after {
    transform: scale(0);
    content: "";
    position: absolute;
    height: 0.05rem;
    width: 100%;
    bottom: -0.1rem;
    left: 0;
    transition: 200ms ease-in;
    background: #EF6700; }
  .all--tabs--scrolle-agnece .menu--scrolle a:hover {
    color: #EF6700; }
    .all--tabs--scrolle-agnece .menu--scrolle a:hover:after {
      transform: scale(1); }

.all--tabs--scrolle-agnece .menu--scrolle li.inclick-href a {
  color: #EF6700;
  font-weight: bold; }

.odd-even-sc-1 {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .odd-even-sc-1:nth-child(even) .img--sc-1 {
    order: 2; }
  .odd-even-sc-1:nth-child(even) .detait--sc-1 {
    order: 1;
    padding: 0 30px 0 0px; }

.img--sc-1 {
  height: 767px;
  width: 40%; }
  .img--sc-1 img {
    height: 100%;
    width: 100%; }

.detait--sc-1 {
  width: 60%;
  padding: 0 15px 0 30px; }
  .detait--sc-1 p {
    color: #7F7F7F;
    font-size: 18px;
    line-height: 30px; }
    .detait--sc-1 p span {
      color: #EF6700;
      font-weight: 600; }
  .detait--sc-1 h2 {
    font-size: 30px;
    color: #0B0F29;
    line-height: 37px;
    padding-bottom: 25px; }

section.counter--box--agence {
  height: 261px;
  background-color: #0B0F29;
  display: flex;
  align-items: center; }
  section.counter--box--agence .box--icon {
    height: 90px;
    width: 90px; }

.list--counter-agence {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center; }
  .list--counter-agence .box--column-wrraper {
    display: flex;
    align-items: center; }

.tabs--scrolle-agence.container-fluid {
  width: 93%; }

.loop-management {
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
  margin-bottom: 30px; }

section.cl-global--services {
  display: flex;
  height: 135px;
  background-color: #0B0F29;
  align-items: center; }

.all-service-global {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  align-items: center; }

.title--detail--counter {
  max-width: 163px; }
  .title--detail--counter span {
    font-size: 25px;
    color: #ffffff;
    padding-right: 5px; }
  .title--detail--counter h3 {
    font-size: 25px;
    color: #ffffff; }

.detailt--wrapper-valeurs {
  padding: 40px 20px; }
  .detailt--wrapper-valeurs h2 {
    font-size: 30px;
    color: #0B0F29; }
  .detailt--wrapper-valeurs p {
    color: #7F7F7F;
    font-size: 18px;
    line-height: 30px; }

.img-wrapper-valeurs {
  height: 285px; }
  .img-wrapper-valeurs img {
    height: 100%;
    width: 100%; }

.list--nos--valeurs {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.box--wrapper-valeurs {
  width: 48%;
  margin-bottom: 40px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15); }

.info--sc--management {
  padding: 0 0px 0 100px;
  height: 196px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.15);
  width: 92%; }
  .info--sc--management p {
    padding: 0 40px;
    font-size: 18px;
    line-height: 30px;
    color: #7F7F7F; }

.img--sc--management {
  height: 196px;
  width: 196px;
  position: absolute;
  left: 5px;
  top: 1px; }

.all-sc--management .loop-management:nth-child(even) {
  justify-content: left; }
  .all-sc--management .loop-management:nth-child(even) .img--sc--management {
    right: 5px;
    top: 2px;
    left: auto; }
  .all-sc--management .loop-management:nth-child(even) .info--sc--management {
    padding: 0 100px 0 0;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.15); }

.list--nos--equipes {
  display: flex;
  justify-content: space-between;
  gap: 10px; }
  .list--nos--equipes button {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    background-color: #0B0F29;
    transition: color .3s ease-in-out;
    padding: 10px 20px;
    width: 100%; }
    .list--nos--equipes button:hover {
      background-color: #EF6700; }

.element-equipe- {
  background-color: #ffffff;
  display: none;
  padding: 30px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
  margin-top: 10px; }
  .element-equipe-:nth-child(1) {
    display: block; }
  .element-equipe- h3 {
    font-size: 20px;
    color: #EF6700;
    font-weight: bold;
    margin-bottom: 25px; }
  .element-equipe- p {
    color: #7F7F7F;
    font-size: 18px;
    line-height: 30px; }

button.tab-active-bg {
  background-color: #EF6700; }

.list--accordion {
  margin-top: 30px; }
  .list--accordion #accordionExample button {
    background-color: #0B0F29;
    color: #ffffff;
    font-size: 25px;
    height: 69px;
    padding: 1rem 1.25rem;
    box-shadow: none;
    outline: none; }
    .list--accordion #accordionExample button:focus {
      border-color: #fff !important; }
  .list--accordion #accordionExample button.accordion-button.collapsed {
    background-color: #ffffff;
    color: #0B0F29;
    font-size: 25px; }
    .list--accordion #accordionExample button.accordion-button.collapsed:after {
      background-color: #0B0F29;
      color: #ffffff;
      content: "\f067" !important; }
  .list--accordion #accordionExample .accordion-body p {
    font-size: 18px;
    line-height: 30px;
    color: #7F7F7F; }
  .list--accordion .accordion-button:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f068" !important;
    background-image: initial;
    transform: rotate(-180deg);
    background-color: #ffffff;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    border-radius: 50px;
    background-repeat: repeat;
    color: #0B0F29; }
  .list--accordion .accordion-item {
    margin-bottom: 20px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15); }

section.sc--agence-web {
  padding: 40px 0 40px 0; }

.cl-global--agence section.nos-expertises {
  background-color: #F2F3F7;
  padding: 40px 0 20px 0; }

.cl-global--agence section.nos--certifications {
  margin-top: 30px; }

.cl-global--agence section.sc--blog {
  padding: 40px 0 60px 0; }

.info--expertises {
  background-color: #ffffff; }

section.nos--valeurs {
  padding: 40px 0 40px 0; }

section.sc--nos--equipes {
  background-color: #F2F3F7;
  padding: 40px 0 60px 0; }

.tabs--nos--equipes {
  margin-top: 20px; }

section.sc--management {
  padding: 40px 0 40px 0; }

section.sc--methodologie--travail {
  background-color: #F2F3F7;
  padding: 40px 0 60px 0; }

@media (max-width: 991px) {
  section.all--tabs--scrolle-agnece {
    display: none; }
  .odd-even-sc-1 {
    display: block; }
    .odd-even-sc-1:nth-child(even) .detait--sc-1 {
      padding: 15px; }
  .img--sc-1 {
    height: auto;
    width: 100%; }
  .detait--sc-1 {
    width: 100%;
    padding: 15px; }
  section.counter--box--agence {
    height: auto;
    padding: 40px 0; }
  .list--counter-agence {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; }
    .list--counter-agence .box--column-wrraper {
      justify-content: space-between; }
  .img--sc--management {
    padding: 10px 0;
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    display: flex;
    justify-content: center; }
  .loop-management {
    display: block;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15); }
  .info--sc--management {
    height: auto;
    width: 98%;
    padding: 0 0 0 0 !important;
    box-shadow: initial !important; }
    .info--sc--management p {
      padding: 10px 40px;
      text-align: center; }
  .all-sc--management .loop-management:nth-child(even) .info--sc--management {
    padding: 0 0 0 0;
    box-shadow: none; } }

@media (max-width: 767px) {
  .box--wrapper-valeurs {
    width: 100%; }
  section.cl-global--services .btn--more {
    display: flex;
    justify-content: center;
    padding: 10px 0; }
  .all-service-global {
    flex-direction: column;
    justify-content: center; }
  .list--nos--equipes {
    flex-direction: column; }
  .title--service-gl {
    text-align: center; }
  .list--accordion #accordionExample button {
    font-size: 18px; } }

/**
 * C O L O R S
 * Project colors
 */
.list--box-expertises {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between; }

.info--expertises {
  padding: 30px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s; }
  .info--expertises h2 {
    color: #0B0F29;
    font-size: 30px; }

.img--expertises {
  height: 242px; }
  .img--expertises img {
    height: 100%;
    width: 100%; }

.wrapper-box-item {
  height: 345px;
  width: 48%;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15); }
  .wrapper-box-item:hover {
    background-color: #0B0F29; }
    .wrapper-box-item:hover .img--expertises {
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s; }
    .wrapper-box-item:hover .info--expertises {
      -webkit-transform: translate3d(0, -55px, 0);
      transform: translate3d(0, -55px, 0);
      background-color: #0B0F29; }
      .wrapper-box-item:hover .info--expertises h2 {
        color: #ffffff; }
      .wrapper-box-item:hover .info--expertises p {
        color: #ffffff; }
    .wrapper-box-item:hover .wrapper--paragraph {
      display: block; }

section.sc-list-expertises {
  padding: 60px 0 60px 0; }

.wrapper--paragraph {
  text-transform: none;
  font-size: 90%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  display: none;
  margin-bottom: -15px; }
  .wrapper--paragraph p {
    font-size: 18px;
    color: #ffffff;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }

@media (max-width: 1199px) {
  .list--box-expertises {
    gap: 20px; }
  .wrapper-box-item {
    height: auto; } }

@media (max-width: 767px) {
  .wrapper-box-item {
    width: 100%; }
    .wrapper-box-item:hover .info--expertises {
      transform: inherit;
      background-color: #ffffff; }
      .wrapper-box-item:hover .info--expertises h2 {
        color: #0B0F29; }
      .wrapper-box-item:hover .info--expertises p {
        color: #0B0F29; }
  .wrapper--paragraph {
    display: block; }
    .wrapper--paragraph p {
      color: #0B0F29; }
  .img--expertises {
    height: auto; } }

.filter-wp form {
  display: flex;
  padding: 40px 0 40px; }
  .filter-wp form .filter-champs {
    margin-right: 25px; }

.filter-wp select {
  background: #F6F6F6;
  border: 0 solid;
  border-radius: 0;
  padding: 10px 30px;
  width: auto;
  font-size: 17px;
  color: #021726;
  outline: none;
  font-weight: 700;
  appearance: none;
  height: 45px;
  background-image: url(../img/arrow--filter.png);
  background-repeat: no-repeat;
  background-position: right 16px center; }

.filter-champs input {
  background: #F6F6F6;
  border: 0 solid;
  border-radius: 0;
  padding: 10px 30px;
  width: auto;
  font-size: 17px;
  color: #021726;
  outline: none;
  font-weight: 700;
  appearance: none;
  height: 45px; }

.filter-champs.submit-filter input {
  background-color: #EF6700;
  color: #ffffff; }

#list--sc--blog .box--blog {
  width: 32.10%;
  margin-bottom: 20px; }

#list--sc--blog .info--sc--blog {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  #list--sc--blog .info--sc--blog .box--blog:nth-child(even) {
    margin-top: 0; }

.paginations-list .pagination-success {
  display: flex;
  justify-content: center;
  padding-bottom: 25px; }

.paginations-list li {
  margin: 0 10px; }
  .paginations-list li a {
    color: #787d79;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center; }

.paginations-list .next-page a {
  background: #0B0F29;
  color: #ffffff; }

.paginations-list .prev-page a {
  background: #0B0F29;
  color: #ffffff; }

.paginations-list .active a {
  color: #787d79;
  background: #EF6700;
  color: #ffffff; }

.hover-blog p {
  width: 100%; }

@media (max-width: 991px) {
  #list--sc--blog .box--blog {
    width: 48%; } }

@media (max-width: 767px) {
  .paginations-list .pagination-success {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; }
  .filter-wp form {
    flex-direction: column;
    gap: 20px; }
    .filter-wp form .filter-champs {
      margin-right: 0; }
  #list--sc--blog .box--blog {
    width: 100%; }
  .filter-champs select {
    width: 100%; }
  .filter-champs input {
    width: 100%; } }

.social-Share {
  padding-top: 20px; }
  .social-Share ul {
    display: flex; }
  .social-Share li {
    height: 36px;
    margin-right: 17px;
    width: 36px;
    background: #0B0F29;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0; }
    .social-Share li a {
      color: #ffffff; }
    .social-Share li:hover {
      background: #EF6700;
      transition: all .3s ease-in-out;
      background: #EF6700;
      color: #021726; }

.img--box--article {
  height: 138px; }

.box--article {
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #E7EAEE; }
  .box--article:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0; }
  .box--article:first-child {
    padding-top: 0;
    border-bottom: 0; }

.list--article {
  border: 1px solid #E7EAEE;
  padding: 30px 20px 30px 20px; }
  .list--article .title--article {
    margin-bottom: 0; }

.title--article {
  margin-bottom: 30px; }
  .title--article h3 {
    font-size: 20px;
    color: #131D3B; }

.info---box--article span {
  font-size: 14px;
  color: #0B0F29; }

.info---box--article h3 {
  font-size: 16px;
  color: #0B0F29; }

.tags--categorie {
  cursor: pointer;
  transition: all .3s ease-in-out;
  color: #EF6700;
  font-size: 13px;
  padding: 5px 17px;
  display: flex;
  width: max-content;
  background-color: #F2F3F5; }
  .tags--categorie:hover {
    background-color: #EC5218;
    color: #ffffff; }

.related--tags {
  margin-top: 30px;
  border: 1px solid #E7EAEE;
  padding: 30px 20px 30px 20px; }

.tags--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; }
  .tags--wrapper .active {
    color: #ffffff;
    background-color: #EF6700; }

.content--element-detail {
  padding: 30px 0 20px 0; }
  .content--element-detail .tags--categorie {
    background-color: #EF6700;
    color: #ffffff;
    margin: 30px 0 35px 0; }
  .content--element-detail > span {
    font-size: 14px;
    color: #0B0F29;
    padding-bottom: 25px;
    display: block; }
  .content--element-detail p {
    font-size: 18px;
    color: #7F7F7F;
    line-height: 30px; }

.title--partage h4 {
  font-size: 30px;
  color: #000F26; }

.share-detail {
  padding-top: 27px;
  border-top: 1px solid #000F26;
  width: 40%; }

section.detail--sc-blog {
  padding: 40px 0 40px 0; }

span.icon-font--date {
  padding-right: 5px; }

.img--blogDetail img {
  width: 100%;
  height: 100%; }

.cl-global--blogDetail section.nos-expertises {
  background-color: #F2F3F7;
  padding: 30px 0 30px 0; }

.bradcrumb--title ul {
  justify-content: center;
  text-align: center; }

@media (max-width: 991px) {
  .share-detail {
    width: 100%; }
  .tags--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between; }
  .info---box--article h3 {
    padding: 10px 0; } }

@media (max-width: 767px) {
  .box--article {
    flex-direction: column;
    text-align: center; }
  .tags--categorie {
    display: block;
    margin: auto; }
  .title--article {
    text-align: center; }
  .related--tags .tags--categorie {
    width: 100%;
    text-align: center; }
  .showcase-titre-h1 {
    font-size: 30px; } }

.filter-champs.submit-filter {
  position: relative;
  overflow: hidden;
  transition: all .3s ease-in-out; }
  .filter-champs.submit-filter:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .4;
    position: absolute;
    top: -50px;
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    transition: all 0.55s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px; }
  .filter-champs.submit-filter:hover:after {
    left: 120%;
    transition: all 0.55s cubic-bezier(0.19, 1, 0.22, 1); }
