<form>          
    <div class="filter-champs">                   
        {{ form.category }}
    </div>

    <div class="filter-champs">
        {{ form.year }}
    </div>
                        
    <div class="filter-champs submit-filter">
        {{ form.actions }}
    </div>
</form>

