<form>                              
    <div class="filter-champs">                   
        {{ form.categorie }}
    </div>
                        
    <div class="filter-champs submit-filter">
        {{ form.actions }}
    </div>
</form>