{#
/**
* @file
* Theme override for a 'form' element.
*
* Available variables
* - attributes: A list of HTML attributes for the wrapper element.
* - children: The child elements of the form.
*
* @see template_preprocess_form()
*/
#}


<div class="formulaire--contacter aos-init aos-animate" data-aos="slide-up" data-aos-duration="1200">
  <div class="img--formulaire--contacter">
    <img src="/{{ base_path ~ directory }}/assets/img/gps.png" alt="img contacter 4">
    <!-- Btn -->
    <div class="btn--contact-Localisation">
      <div class="btn--more">
        <a href="#" class="btn--fornet aos-init aos-animate" data-aos="fade-left" data-aos-offset="50"
          data-aos-duration="500">{{ 'Localisation'|t }}</a>
      </div>
    </div>
  </div>
  <div class="all--formulaire--contacter">

    <form{{ attributes }}>
      {{ children }}
      </form>
  </div>
</div>