{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}


<div class="cl-global--realisations">

        <!-- Section 1 -->

        <section class="filter-parent">
            <div class="container">
                <div class="filter-wp">
                    {{ exposed }}
                </div>
            </div>
        </section>

        <!-- Section 2 -->

        <section class="nos--realisations">
            <div class="all-box--realisations">
                <!-- Loop -->
               {{ rows }}
            </div>
            <div class="btn--arrow-target">
                <a href="#" class="btn-click--arrow"> <span>Tous Le réalisations</span><img src="assets/img/g8.png"
                        alt="img realisations 7"></a>
            </div>
        </section>

        <!-- Section 3 -->

       {{ pager}}

        <!-- Section 4 -->

        {{ drupal_entity('block','block_services_'~ language_id) }}

    </div>