/**
 * F O N T S
 * Project font basis
 */

@font-face {
    font-display: swap;
    font-family: "robotoslab bold";
    src: url('../webfonts/RobotoSlab-Bold.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Artegra Sans Extended Regular';
    src: url('../webfonts/ArtegraSansExRegular.ttf');
}

@font-face {
    font-display: swap;
    font-family: "montserrat medium";
    src: url('../webfonts/Montserrat-Medium.otf');
}

@font-face {
    font-display: swap;
    font-family: "montserrat regular";
    src: url('../webfonts/Montserrat-Regular.otf');
}

@font-face {
    font-display: swap;
    font-family: "montserrat bold";
    src: url('../webfonts/Montserrat-Bold.otf');
}

@font-face {
    font-display: swap;
    font-family: "montserrat light";
    src: url('../webfonts/Montserrat-Light.otf');
}

@font-face {
    font-display: swap;
    font-family: "montserrat semiBold";
    src: url('../webfonts/Montserrat-SemiBold.otf');
}

@font-face {
    font-display: swap;
    font-family: "lato bold";
    src: url('../webfonts/Lato-Bold.ttf');
}

@font-face {
    font-display: swap;
    font-family: "lato regular";
    src: url('../webfonts/Lato-Regular.ttf');
}

@font-face {
    font-display: swap;
    font-family: "poppins light";
    src: url('../webfonts/poppins-Light.ttf');
}

// 
$font-family_1: "montserrat medium", "sans-serif";
$font-family_2: "lato regular", sans-serif;
$font-family_3: "robotoslab bold", "sans-serif";
$font-family_4: "lato bold", sans-serif;
$font-family_5: "Artegra Sans Extended Regular", "sans-serif";
$font-family_6: "montserrat bold", "sans-serif";
$font-family_7: "montserrat regular", "sans-serif";
$font-family_8: "montserrat semiBold", sans-serif;
$font-family_9: "poppins light", sans-serif;