  {#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}

{% if rows %}
 <section class="fornet--recrute">
        <div class="text-center">
            <div class="title--fornet title--sommes-nous">
                <h3>{{ 'Fornet recrute'|t }}</h3>
            </div>
        </div>
        <div class="container">
            <div class="row">
            {{ rows }}
            </div>
        </div>
        <div class="btn--more">
            <a href="{{ path('view.listing_recrutement.page_1') }}" class="btn--fornet aos-init aos-animate" data-aos="fade-left" data-aos-offset="50"
                data-aos-duration="500">{{ 'Toutes les offres d\'emploi'| t}}</a>
        </div>
    </section>
{% endif %}