{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}


 {% set body = fields.body.content|render|striptags|trim %}


  <div class="box--blog aos-init aos-animate" data-aos="flip-left" data-aos-duration="1200">
  <a href="{{ path('entity.node.canonical', {'node':row._entity.nid.value}) }}">
   
    <div class="wrapper--blog">
        {% if row._entity.field_image is not empty %}
          <div class="img--box--blog">
              <img src="{{ file_url(row._entity.field_image.entity.uri.value) }}" alt="{{ row._entity.field_image.alt }}">
          </div>
        {% endif %} 
        
      <div class="info--box--blog">
        <p>{{ fields.title.content }}</p>
      </div>
    </div>
    <div class="hover-blog">
      <p>{{ fields.title.content }}</p>
      <p>{{ truncate_text(body,12) }} </p>
    </div>

  </a>
  </div>

