{#
/**
* @file
* Default theme implementation to display a node.
*
* Available variables:
* - node: The node entity with limited access to object properties and methods.
* Only method names starting with "get", "has", or "is" and a few common
* methods such as "id", "label", and "bundle" are available. For example:
* - node.getCreatedTime() will return the node creation timestamp.
* - node.hasField('field_example') returns TRUE if the node bundle includes
* field_example. (This does not indicate the presence of a value in this
* field.)
* - node.isPublished() will return whether the node is published or not.
* Calling other methods, such as node.delete(), will result in an exception.
* See \Drupal\node\Entity\Node for a full list of public properties and
* methods for the node object.
* - label: (optional) The title of the node.
* - content: All node items. Use {{ content }} to print them all,
* or print a subset such as {{ content.field_example }}. Use
* {{ content|without('field_example') }} to temporarily suppress the printing
* of a given child element.
* - author_picture: The node author user entity, rendered using the "compact"
* view mode.
* - metadata: Metadata for this node.
* - date: (optional) Themed creation date field.
* - author_name: (optional) Themed author name field.
* - url: Direct URL of the current node.
* - display_submitted: Whether submission information should be displayed.
* - attributes: HTML attributes for the containing element.
* The attributes.class element may contain one or more of the following
* classes:
* - node: The current template type (also known as a "theming hook").
* - node--type-[type]: The current node type. For example, if the node is an
* "Article" it would result in "node--type-article". Note that the machine
* name will often be in a short form of the human readable label.
* - node--view-mode-[view_mode]: The View Mode of the node; for example, a
* teaser would result in: "node--view-mode-teaser", and
* full: "node--view-mode-full".
* The following are controlled through the node publishing options.
* - node--promoted: Appears on nodes promoted to the front page.
* - node--sticky: Appears on nodes ordered above other non-sticky nodes in
* teaser listings.
* - node--unpublished: Appears on unpublished nodes visible only to site
* admins.
* - title_attributes: Same as attributes, except applied to the main title
* tag that appears in the template.
* - content_attributes: Same as attributes, except applied to the main
* content tag that appears in the template.
* - author_attributes: Same as attributes, except applied to the author of
* the node tag that appears in the template.
* - title_prefix: Additional output populated by modules, intended to be
* displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
* displayed after the main title tag that appears in the template.
* - view_mode: View mode; for example, "teaser" or "full".
* - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
* - page: Flag for the full page state. Will be true if view_mode is 'full'.
* - readmore: Flag for more state. Will be true if the teaser content of the
* node cannot hold the main body content.
* - logged_in: Flag for authenticated user status. Will be true when the
* current user is a logged-in member.
* - is_admin: Flag for admin user status. Will be true when the current user
* is an administrator.
*
* @see template_preprocess_node()
*
* @ingroup themeable
*/
#}

<div class="cl-global--blogDetail">

  <!-- Section 1 -->

  <section class="detail--sc-blog">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-8  col-sm-12">
          <div class="info---sc-blog">
            <div class="img--blogDetail">
              <img src="{{ file_url(node.field_image.entity.uri.value) }}">

            </div>
            <div class="content--element-detail">

              <span><span class="icon-font--date"><i class="fas fa-calendar-alt"></i></span> {{
                content.field_date["#items"].value | date('d F Y') }}</span>
              {{ content.body }}
              <div class="tags--categorie">{{ content.field_categorie }}</div>



              <div class="share-detail">
                <div class="title--partage">

                  <h4>{{ 'Partager cet article'| t }}</h4>
                </div>
                <div class="social-Share">
                  <ul>
                    <li><a class="addthis_button_facebook at300b" title="Facebook" href="#"><i
                          class="fa-brands fa-facebook"></i></a></li>
                    <li><a target="_blank" class="addthis_button_twitter at300b" title="Twitter" href="#"><i
                          class="fa-brands fa-twitter"></i></a></li>
                    <li><a target="_blank" class="addthis_button_linkedin at300b" title="LinkedIn" href="#"><i
                          class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a target="_blank" class="addthis_button_whatsapp at300b" tabindex="0" href="#"
                        title="WhatsApp"> <i class="fa-brands fa-whatsapp"></i>
                      </a></li>
                    <li><a class="addthis_button_compact at300m" href="#"><i class="fa fa-share-alt"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-12">

          {{ drupal_view('listing_blog','block_recents_blog') }}

          <div class="related--tags">
            <div class="title--article">
              <h3>{{ 'Tags'| t }}</h3>
            </div>

            {% set taxonomie_terms = get_terms_taxonomie('categorie') %}

            <div class="tags--wrapper">


              {# {% for term in taxonomie_terms %}

              {% if ',' in content.field_categorie %}

              {% set array = content.field_categorie|split(',') %}

              {% if term in array %}
              1
              {% else %}
              0
              {% endif %}

              {% elseif term == content.field_categorie %}
              1
              {% endif %}




              <div class="tags--categorie active"> {{ term.name.value }}</div>
              {% endfor %} #}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Section 3 -->

  {{ drupal_entity('block','block_services_'~ language_id) }}

</div>