{#
/**
* @file
* Default theme implementation to display a node.
*
* Available variables:
* - node: The node entity with limited access to object properties and methods.
* Only method names starting with "get", "has", or "is" and a few common
* methods such as "id", "label", and "bundle" are available. For example:
* - node.getCreatedTime() will return the node creation timestamp.
* - node.hasField('field_example') returns TRUE if the node bundle includes
* field_example. (This does not indicate the presence of a value in this
* field.)
* - node.isPublished() will return whether the node is published or not.
* Calling other methods, such as node.delete(), will result in an exception.
* See \Drupal\node\Entity\Node for a full list of public properties and
* methods for the node object.
* - label: (optional) The title of the node.
* - content: All node items. Use {{ content }} to print them all,
* or print a subset such as {{ content.field_example }}. Use
* {{ content|without('field_example') }} to temporarily suppress the printing
* of a given child element.
* - author_picture: The node author user entity, rendered using the "compact"
* view mode.
* - metadata: Metadata for this node.
* - date: (optional) Themed creation date field.
* - author_name: (optional) Themed author name field.
* - url: Direct URL of the current node.
* - display_submitted: Whether submission information should be displayed.
* - attributes: HTML attributes for the containing element.
* The attributes.class element may contain one or more of the following
* classes:
* - node: The current template type (also known as a "theming hook").
* - node--type-[type]: The current node type. For example, if the node is an
* "Article" it would result in "node--type-article". Note that the machine
* name will often be in a short form of the human readable label.
* - node--view-mode-[view_mode]: The View Mode of the node; for example, a
* teaser would result in: "node--view-mode-teaser", and
* full: "node--view-mode-full".
* The following are controlled through the node publishing options.
* - node--promoted: Appears on nodes promoted to the front page.
* - node--sticky: Appears on nodes ordered above other non-sticky nodes in
* teaser listings.
* - node--unpublished: Appears on unpublished nodes visible only to site
* admins.
* - title_attributes: Same as attributes, except applied to the main title
* tag that appears in the template.
* - content_attributes: Same as attributes, except applied to the main
* content tag that appears in the template.
* - author_attributes: Same as attributes, except applied to the author of
* the node tag that appears in the template.
* - title_prefix: Additional output populated by modules, intended to be
* displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
* displayed after the main title tag that appears in the template.
* - view_mode: View mode; for example, "teaser" or "full".
* - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
* - page: Flag for the full page state. Will be true if view_mode is 'full'.
* - readmore: Flag for more state. Will be true if the teaser content of the
* node cannot hold the main body content.
* - logged_in: Flag for authenticated user status. Will be true when the
* current user is a logged-in member.
* - is_admin: Flag for admin user status. Will be true when the current user
* is an administrator.
*
* @see template_preprocess_node()
*
* @ingroup themeable
*/
#}


<div class="cl-global--agence">


    {% if node.body is not empty %}
    <section class="sc--agence-web" id="agence_1">
        <div class="container">
            {{ content.body }}
        </div>
    </section>
    {% endif %}


    {% if node.field_toggle_chiffres_cles.0.value %}
    <section class="counter--box--agence" id="agence_2">
        <div class="container-fluid">
            <div class="list--counter-agence">

                {{ drupal_field('field_chiffres_cles', 'block_content', 7) }}

            </div>
        </div>
    </section>
    {% endif %}




    {% if node.field_cards is not empty %}
    <section class="nos--valeurs" id="agence_3">
        <div class="text-center">
            <div class="title--fornet title--sommes-nous">
                <h3>{{ 'nos valeurs' | t }}</h3>
            </div>
        </div>
        <div class="container">
            <div class="list--nos--valeurs">
                {{ content.field_cards }}
            </div>
        </div>
    </section>
    {% endif %}



    {% if node.field_toggle_expertises.0.value %}
    {{ drupal_view('listing_expertises','block_recents_expertises') }}
    {% endif %}

    {% if node.field_toggle_services.0.value %}
    {{ drupal_entity('block','block_services_'~ language_id) }}
    {% endif %}


    {% if node.field_boxs is not empty %}
    <section class="sc--management" id="agence_5">
        <div class="text-center">
            <div class="title--fornet title--sommes-nous">
                <h3>{{ 'Management' | t }} </h3>
            </div>
        </div>
        <div class="container">

            <div class="all-sc--management">
                {{ content.field_boxs}}
            </div>

        </div>
    </section>
    {% endif %}



    {% if node.field_collapses is not empty %}
    <section class="sc--nos--equipes" id="agence_6">
        <div class="text-center">
            <div class="title--fornet title--sommes-nous">
                <h3>{{ 'Nos équipes' | t}} </h3>
            </div>
        </div>
        <div class="container">
            <div class="tabs--nos--equipes">
                <div class="list--nos--equipes">

                    {% set terms = get_terms_taxonomie('equipe') %}

                    {% for term in terms %}
                    <button>{{ term.name.value }} </button>
                    {% endfor %}

                </div>
                <div class="all-elements--list">
                    {{ content.field_collapses }}
                </div>
            </div>
        </div>
    </section>
    {% endif %}


    {% if node.field_toggle_rejoignez_notre_equ.0.value %}
    {{ drupal_entity('block','block_rejoignez_notre_equipe_'~ language_id)}}
    {% endif %}




    {% if node.field_toggle_certifications.0.value %}
    {{ drupal_view('listing_certifications','block_certifications') }}
    {% endif %}




    {% if node.field_accordaients is not empty %}
    <section class="sc--methodologie--travail" id="agence_8">
        <div class="text-center">
            <div class="title--fornet title--sommes-nous">
                <h3>{{ 'méthodologie de travail'| t}} </h3>
            </div>
        </div>
        <div class="container">
            <div class="list--accordion">
                <div class="accordion" id="accordionExample">
                    {{ content.field_accordaients }}
                </div>
            </div>
        </div>
    </section>
    {% endif %}


    {% if node.field_toggle_idees_ur_nos_realis.0.value %}
    {{ drupal_entity('block','block_idees_ur_nos_realisations_'~ language_id) }}
    {% endif %}


    {% if node.field_toggle_blog.0.value %}
    {{ drupal_view('listing_blog','block_recents_blog_hp') }}
    {% endif %}

    {% if node.field_toggle_contactez_nous.0.value %}
    {% include "@fornet/partials/contactez-nous.html.twig" %}
    {% endif %}
</div>